  /*******************************/
  /* Cloud Overview Page         */
  /* ----------------------------*/
  /*                             */
  /*                             */
  /*******************************/

.cloud-solutions {
  .clouds {
    .cloud {
    }
    h2 {
      .transition(background-color, .5s);
    }
    #icon-city_cloud {
      h2 {
        background-color: darken(@city-blue, 15%);
        &:hover {
          background-color: @city-blue;
        }
      }
    }
    #icon-county_cloud {
      h2 {
        background-color: darken(@county-yellow, 15%);
        &:hover {
          background-color: @county-yellow;
        }
      }
    }
    #icon-state_cloud {
      h2 {
        background-color: darken(@state-red, 15%);
        &:hover {
          background-color: @state-red;
        }
      }
    }
    #icon-federal_cloud {
      h2 {
        background-color: darken(@federal-blue, 15%);
        &:hover {
          background-color: @federal-blue;
        }
      }
    }
    #icon-ngo_cloud {
      h2 {
        background-color: darken(@ngo-green, 15%);
        &:hover {
          background-color: @ngo-green;
        }
      }
    }
  }
}

@media (min-width: @screen-sm-min) {
  .jumbotron {
    .slide {
      padding: 50px 0;
      background-size: cover;
      background-position: top center;
    }
  }

  .cloud-solutions {
    .jumbotron {
      text-align: center;
      .slide {
        padding-top: 260px;
      }
      h1 {
        font-weight: 300;
        font-size: 3.5em;
      }
      h2 {
        font-size: 1.8em;
        font-weight: 300;
      }
    }

    .clouds {
      .cloud {
        .cloud-icon {
          font-size: 9.6em;
          position: absolute;
          left: -2px;
          width: 121px;
          height: 123px;
          overflow: hidden;
          border-top-left-radius: 8px;
          border-bottom-left-radius: 8px;
          z-index: 200;
          &:before {
            top: -5px;
            left: -5px;
            position: absolute;
          }
          background-color: @white;
        }
        h2 {
          text-transform: uppercase;
          text-align: left;
          font-weight: 300;
          font-size: 2.3em;
          width: 95%;
          height: 123px;
          float: right;
          padding: 25px 0 0 95px;
          color: @white;
          margin: 0 -15px;
          border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
          .small {
            font-size: .85em;
            color: @white;
          }
          @media (min-width: @screen-sm-min) {
            font-size: 1.6em;
            padding: 35px 0 0 88px;
            .small {
              font-size: .6em;
            }
          }
          @media (min-width: @screen-md-min) {
            font-size: 2.3em;
            padding: 25px 0 0 95px;
            .small {
              font-size: .7em;
            }
          }
        }
        h3 {
          font-size: 2em;
        }
        .cloud-detail {
          height: 177px;
          overflow: hidden;
          margin-top: -10px;
          padding-left: 30px;
        }
      }
    }
  }
}


.page-template-template-cloud {

  /*******************************/
  /* Hero Slider                 */
  /* ----------------------------*/
  /* Image carousel with text    */
  /* and CTA                     */
  /*******************************/

  .jumbotron {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0 0 60px 0;

    .jumbotron-textContainer {
      margin: 0 20px;
      @media (min-width: @screen-sm-min) {
        margin: 0 0 0 60px;
      }

      h1 {
        font-size: 24px;
        font-weight: @font-light;
        color: #ffffff;
        @media (min-width: @screen-sm-min) {
          font-size: 35px;
        }
      }

      h2 {
        color: #ffffff;
        font-weight: @font-light;
        margin-bottom: 30px;
        font-size: 14px;
        line-height: 1.3;
        @media (min-width: @screen-sm-min) {
          font-size: 18px;
          line-height: 1.6;
        }
      }

      .button {
        font-size: 1.1em;
        border: 1px solid #ffffff;
      }
    }

    .slide {
      background-size: cover;
      min-height: 400px;
      padding: 50px 0;
    }

    .slick-prev {
      left: 10px;
      color: #ffffff;
    }

    .slick-next {
      right: 10px;
      color: #ffffff;
    }
    @media (min-width: @screen-sm-min) {
      .slick-prev {
        left: 40px;
      }

      .slick-next {
        right: 40px;
      }
    }
    @media (min-width: @screen-md-min) {
      .slick-prev {
        left: 60px;
      }

      .slick-next {
        right: 60px;
      }
    }
  }


  /*******************************/
  /* Template Ecosystem          */
  /* ----------------------------*/
  /*                             */
  /*******************************/

  .template-ecosystem {
    h2 {
      font-size: 2.3em;
      line-height: 1.3;
      color: @gray-dark;
      font-weight: 300;
      margin: 0 0 15px;
    }
    p {
      font-size: 1em;
      font-weight: 300;
    }
    .row {
      margin-top: 50px;
    }
    @media (min-width: @screen-sm-min) {
      h2 {
        font-size: 2.9em;
        border-right: @gray-med 1px solid;
        padding-right: 30px;
        margin: 0;
      }
      p {
        font-size: 1.1em;
      }
      .row {
        margin-top: 20px;
      }
    }
    @media (min-width: @screen-md-min) {
      h2 {
        font-size: 2.8em;
        line-height: 1.2;
      }
      p {
        font-size: 1.1em;
        margin-top: 5px;
      }
      .row {
        margin-top: 50px;
      }
    }
    @media (min-width: @screen-lg-min) {
      h2 {
        font-size: 3.5em;
        line-height: 1.3;
      }
      p {
        font-size: 1.3em;
        margin-top: 10px;
      }
    }
  }


  /*******************************/
  /* Template Applications       */
  /* ----------------------------*/
  /* feature sections with image */
  /* headline, body and CTA      */
  /*******************************/

  .template-applications {
    padding: 30px 0 0 0;
    @media (min-width: @screen-sm-min) {
      padding: 50px 0 0 0;
    }
    @media (min-width: @screen-md-min) {
      padding: 60px 0 0 0;
    }

    .applications-headline {
      margin: 0 auto 30px auto;

      h2 {
        padding: 80px 0 8px 0;
        color: @gray-dark;
        border-bottom: 1px solid @gray-dark;
        font-size: 24px;
      }
    }

    .applications-group {
      background-color: @gray-ligter;

      .group-headline {
        margin: 30px auto 0 auto;
        text-align: center;

        h2 {
          display: inline-block;
          padding: 0 0 10px 0;
          border-bottom: 1px solid @gray-med;
          font-size: 3.5em; //50px
          font-weight: @font-light;
        }
      }

      .group-feature {
        box-shadow: 0 0 0 #fff;
        &.noshadow {
          box-shadow: 0 0 0 #fff;
        }
        @media (min-width: @screen-sm-min) {
          box-shadow: 0 -20px 50px fadeOut(#c3c3c3, 50%);
        }
        .feature-container {
          min-height: 300px;
          padding: 30px 0 20px;
          background-repeat: no-repeat;
          background-size: 1px 1px;
          &.contain {
            background-size: 0;
            background-position: center center;
          }

          &.cover {
            background-size: 0;
            background-position: bottom center;
          }
          @media (min-width: @screen-sm-min) {
            min-height: 400px;
            padding: 80px 0 40px;
            &.contain {
              background-size: contain;
            }

            &.cover {
              background-size: cover;
            }
          }
          @media (min-width: @screen-md-min) {
            padding: 70px 0;
          }
          @media (min-width: @screen-lg-min) {
            min-height: 500px;
          }

          .container-category-headline {
            margin: 0;
            text-transform: uppercase;
            color: #737373;
          }

          .container-headline {
            margin: 0 0 25px 0;

            .container-headline-h {
              font-size: 2.1em; //52px
              margin-top: 0.5rem;
            }
            @media (min-width: @screen-sm-min) {
              .container-headline-h {
                font-size: 2.5em;
              }
            }
            @media (min-width: @screen-md-min) {
              .container-headline-h {
                font-size: 3em;
              }
            }
            @media (min-width: @screen-lg-min) {
              .container-headline-h {
                font-size: 3.75em; //52px
              }
            }
          }

          .container-body {
            margin: 0 0 50px 0;
            color: @gray-med;
            font-weight: @font-light;

            p {
              font-size: 1.1em; //24px
              line-height: 1.3;
            }
            @media (min-width: @screen-sm-min) {
              p {
                font-size: 1.3em;
                line-height: 1.5;
              }
            }
            @media (min-width: @screen-md-min) {
              p {
                font-size: 1.5em;
                line-height: 1.6;
              }
            }
            @media (min-width: @screen-lg-min) {
              p {
                font-size: 1.714em; //24px
                line-height: 1.7;
              }
            }
          }

          .container-link{
            margin: 0 0 10px 0;

            a {
              padding: 10px 40px;
            }
          }
        }
      }
    }
  }


  /*******************************/
  /* Template List Tiles         */
  /* ----------------------------*/
  /* feature list with icons     */
  /* and headline                */
  /*******************************/

  .template-listTiles {
    padding: 40px 0 10px;
    @media (min-width: @screen-sm-min) {
      padding: 50px 0 25px;
    }
    @media (min-width: @screen-md-min) {
      padding: 80px 0 40px;
    }

    .listTiles-headline {
      margin: 0 0 45px 0;
      border-bottom: 1px solid #ffffff;
    }

    p.footer {
      float: left;
      clear: both;
    }

    .listTiles-tile {
      position: relative;
      margin: 0 0 30px 0;

      .tile-icon {
        position: absolute;
        top: 0;
        left: 0;

        i {
          font-size: 36px;
          color: @cta-icons;
        }
      }
      @media (min-width: @screen-sm-min) {
        .tile-icon {
          left: 15px;
        }
      }

      .tile-content {
        padding: 0 0 0 40px;

        .content-text {
          .text-headline {
            margin: 0 0 10px 0;
            h4 {
              font-size: 18px;
            }
            span {
              display: none;
            }
            a {
              color: @black;
              span {
                display: inline;
                font-size: .9em;
                padding-left: 5px;
              }
              &:hover {
                color: @cta-icons;
                text-decoration: underline;
              }
            }
          }

          .text-body {
            margin: 0 0 10px 0;

            p {
              font-size: 15px;
              font-weight: @font-light;
            }

            a {
              color: #000000;
              font-weight: 400;
              text-decoration: underline;
            }
          }
        }

        .content-button {
          margin: 0 0 30px 0;

          a {
            padding: 14px 32px;
          }
        }
        @media (min-width: @screen-sm-min) {
          padding: 0 0 0 60px;
        }
      }

      @media (min-width: @screen-sm-min) {
        height: 100px;
      }

      @media (min-width: @screen-md-min) {
        height: 130px;
      }

      @media (min-width: @screen-lg-min) {
        height: 100px;
      }
    }

    /********************/
    /* Light            */
    /********************/

    &.light {
      .listTiles-headline {
        border-bottom-color: #999999;

        h3 {
          color: #999999;
        }
      }

      .listTiles-tile {
        .tile-icon {
          i {
            color: @city-blue;
          }
        }

        .tile-content {
          .content-text {
            .text-headline {
              h4 {
                color: #000000;
              }
            }

            .text-body {
              p {
                color: #000000;
              }

              a {
                color: #000000;
                font-weight: 400;
                text-decoration: underline;
              }
            }
          }
        }
      }
    }

    /********************/
    /* Dark             */
    /********************/

    &.dark {
      background-color: #4a4f50;

      .listTiles-headline {
        color: #FFFFFF;
        border-bottom-color: #FFFFFF;
      }
      .listTiles-tile {
        .tile-icon {
          i {
            color: #ffffff;
          }
        }
        .tile-content {
          .content-text {
            .text-headline {
              h4 {
                color: #ffffff;
              }
            }

            .text-body {
              p {
                color: #ffffff;
              }

              a {
                color: #ffffff;
                font-weight: 400;
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }

  /*******************************/
  /* Template 2col               */
  /* ----------------------------*/
  /* 2 column flexible layout    */
  /* headline/text or image      */
  /*******************************/

  .template-twoColumn {
    margin: 0 0 60px 0;

    .twoColumn-section {
      margin: 60px 0;
      clear: both;

      .section-headline {
        margin: 0 0 30px 0;

        h3 {
          padding: 0 0 5px 0;
          color: #999999;
          border-bottom: 1px solid #999999;
          font-size: 24px;
        }
      }

      .section-tile {
        .tile-content {
          .content-headline {
            h4 {
              margin: 0;
              font-size: 35px;
              font-weight: @font-light;
            }

          }
          .content-body {
            p {
              font-weight: @font-light;
            }

          }
        }
      }
    }
  }
}
