@media only screen and (min-width : 320px) {
/* Home Page */
	.home {
		.home-hero {
			background-color:$clouds;
			width:100%;
			height:100vh;
		}
		.articles {
			ul {
				list-style-type: none;
				margin:0;
				padding:0;
			}
			li {
				border-bottom:$silver solid 1px;
				line-height: normal;
			}
			li:first-child, li:last-child {
				border:none;
			}
			.recentpost { 
				padding:15px 20px;
				p {
					line-height: 1.3em;
					margin:0;
					font-size: 18px;
				}
				.meta {
					font-size: 13px;
					display: block;
				}
			}
			.card {
				height:425px;
			}
		}
	}
	.blog {
		.card {
			height:400px;
			margin-bottom:30px;
		}
	}
}