@media only screen and (min-width : 320px) {
	/* Home Page */
	.home {
		//Hero
		.home-hero {
			width:100%;
			height:100vh;
			margin-top:-60px;
			overflow: hidden;
			position: relative;
			.text-wrapper {
				position: absolute;
				top:0;
				left:0;
				width:100%;
				z-index: 1;
			}
            .text {
                padding-top:100px;
            }
            .btn {
                border:white solid 5px;
            }            
            .slide {
            	height:100vh;
            	width:100%;
            	background-repeat:no-repeat;
            	background-size:cover;
            	background-position:center center;
            }
            .slide-one {
            	background-image:url(../images/home-hero-one.jpg);
            }
            .slide-two {
            	background-image:url(../images/home-hero-two.jpg);            	
            }
            .slide-three {
            	background-image:url(../images/home-hero-three.jpg);            	
            }
		}
		//Industries
		.industries {
			.tile {
				position: relative;				
				box-sizing:border-box;
				overflow: hidden;	
				* {
					color:white;
				}
				.tile-icon, .tile-text {
					position: absolute;
					height:100%;
					width:100%;
					padding:30px;
					transition: all 0.5s ease-in-out;
				    -webkit-transition: all .5s ease;
				    -moz-transition: all .5s ease;
				    -ms-transition: all .5s ease;
				    -o-transition: all .5s ease;
				}
				.link {
					position: absolute;
					top:0;
					left:0;
					height:100%;
					width:100%;
					z-index: 100;
				}
				.btn {
					position: absolute;
					bottom:30px;
					left:30px;
				}
			}
			.fed-tile {
				background-color:$belize-hole;
				.btn {
					color:$belize-hole;
				}
				.fed-icon:before {
					content: "\e606";
				}
			}
			.state-tile {
				background-color:$nephritis;
				.btn {
					color:$nephritis;
				}
				.state-icon:before {
					content: "\e801";
				}
			}
			.county-tile {
				background-color:$pumpkin;
				.btn {
					color:$pumpkin;
				}
				.county-icon:before {
					content: "\e800";
				}
			}
			.city-tile {
				background-color:$amethyst;
				.btn {
					color:$amethyst;
				}
				.city-icon:before {
					content: "\e602";
				}
			}
			.ngo-tile {
				background-color:$orange;
				.btn {
					color:$orange;
				}
				.ngo-icon:before {
					content: "\e603";
				}
			}
			.what-we-do {
				h2 {
					color:white;
					margin:0 0 15px;
				}
				p {
					color:$concrete;
				}
			}
		}
		//Articles
		.articles {
			ul {
				list-style-type: none;
				margin:0;
				padding:0;
			}
			li {
				border-bottom:$silver solid 1px;
				line-height: normal;
			}
			li:first-child, li:last-child {
				border:none;
			}
			.recentpost { 
				padding:15px 20px;
				p {
					line-height: 1.3em;
					margin:0;
					font-size: 18px;
				}
				.meta {
					font-size: 13px;
					display: block;
				}
			}
			.card {
				height:425px;
			}
		}
	}	
	/* Hero */
	.hero {
		width:100%;
		height:100vh;
		background-color:$clouds;
		margin-top:-60px;
		position: relative;		
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
	}
	.vertical-center{
	    position: absolute;
	    top:50%;
	    left: 0%;
	    transform:translate(0%, -50%);
	    -webkit-transform:translate(0%, -50%);
	    width:100%;
	}
	/* Finance Hero */
	.finance-hero {
		background-image: url(../images/finance-hero.jpg);
		.text * {
			color:white;
		}
		.text {
			z-index: 100;
		}
		.overlay {
			height:100% !important;
			width:100% !important;;
			position: absolute;
			top:0;
			width:0;
			z-index: 1;
			background-color:rgba($wet-asphalt,0.75);
		}
	}
	/* Product and Solution Pages*/
	.section-image {
		width:100%;
		height:100vh;
		background-size:cover;
		background-repeat:no-repeat;
		background-position:center center;
	}
	.text-reverse {
		h1,h2,h3,h4,p,li {
			color:white;
		}
	}
	.box {
		padding:30px;
		p, li {
			font-size:16px;
		}
	}
	.box-offset {
		margin-top:-50px;
	}
	.shadow {
		box-shadow: 0 0 20px rgba(0,0,0,0.15);
	}
	.value {
		* {
			color:white;
		}
		ul.value-icons {
			list-style-type:none;
			margin:0;
			padding:0;
			li {
				position: relative;
				padding-left:60px;
			}
			li:before {
				position: absolute;
				font-family: 'icomoon';				
				top:10px;
				left:0;
				font-size: 50px;
			}
		}
		.city li:before {
			content: "\e602";
		}
		.capital li:before {
			content: "\e606";
		}
		.manager li:before {
			content: "\e600";
		}
		span {
			font-size: 20px;
			font-weight: $font-normal;
		}
	}
	//Socrata for Finance
	.open-budget-image {
		background-image:url(../images/finance-open-budget.jpg);
	}
	.open-expenditures-image {
		background-image:url(../images/finance-open-expenditures.jpg);
	}
	.open-payroll-image {
		background-image:url(../images/finance-open-payroll.jpg);
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.box {
		padding:30px;
		p, li {
			font-size:20px;
		}
	}
	.value p span {
		font-size: 20px;
		font-weight: $font-normal;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.home {
		.home-hero {
			width:100%;
			height:100vh;
			margin-top:-60px;
			overflow: hidden;
            .text {
                padding-top:100px;
            }
            .btn {
                border:white solid 5px;
            }
		}
		.industries {
			.tile {
				height:380px;
				.tile-icon {
					top:0;
					h4 {
						position:absolute;
						left:0;
						top:150px;
						width:100%;
						margin:0;
						padding:65px 30px 0 30px;
					}
					.icon:before {
						font-family: 'icomoon';
						font-size:100px;
						position: absolute;
						left:0;
						top:0;
						width:100%;
					}
				}
				.tile-text {
					top:380px;
					h4 {
						position: relative;
						padding-left:32px;
					}
					.icon:before {
						font-family: 'icomoon';
						font-size:24px;
						position: absolute;
						left:0;
						top:0;
					}
				}
			}
			.tile:hover {
				.tile-icon {
					top:-380px;
				}
				.tile-text {
					top:0;
				}
			}
			.what-we-do {
				padding:80px 30px 0 0;
	
			}
		}
	}
}


