@media only screen and (min-width : 320px) {
	/* Home Page */
	.home {
		//Hero
		.home-hero {
			width:100%;
			height:100vh;
			margin-top:-60px;
			overflow: hidden;
			position: relative;
			.text-wrapper {
				position: absolute;
				top:0;
				left:0;
				width:100%;
				z-index: 1;
			}
            .text {
                padding-top:110px;
            }
            .btn {
                border:white solid 5px;
            }            
            .slide {
            	height:100vh;
            	width:100%;
            	background-repeat:no-repeat;
            	background-size:cover;
            	background-position:center center;
            }
            .lead {
            	color:$midnight-blue;
            }
            .slide-one {
            	background-image:url(../images/home-hero-one.jpg);
            }
            .slide-two {
            	background-image:url(../images/home-hero-two.jpg);            	
            }
            .slide-three {
            	background-image:url(../images/home-hero-three.jpg);            	
            }
            .scroll {
            	position: absolute;
            	width:100%;
            	bottom:0;
            	left:0;
            	z-index: 2;
            	padding:15px 0;
            	.mouse {
	            	position: relative;
				    margin:0 auto;
				    height: 45px;
				    width: 25px;
				    background-image: url("../images/mouse.svg");
				    background-repeat: no-repeat;
				    background-size: contain;
				    -webkit-transition: -webkit-transform .3s .9s ease-out,opacity .3s .9s ease-out;
				    transition: transform .3s .9s ease-out,opacity .3s .9s ease-out;
				    a {
				    	position: absolute;
				    	width:100%;
				    	height:100%;
				    	top:0;
				    	left:0;
				    }
            	}
            	.mouse:after {
					position: absolute;
					top: 10px;
					left: 50%;
					margin-left: -2px;
					border-radius: 10px;
					content: '';
					width: 5px;
					height: 5px;
					background-color: #fff;
					-webkit-animation-name: mouseScroll;
					animation-name: mouseScroll;
					-webkit-animation-duration: 2s;
					animation-duration: 2s;
					-webkit-animation-iteration-count: infinite;
					animation-iteration-count: infinite;
            	}
				@-webkit-keyframes mouseScroll {
					0%, 50% {
						opacity: 1;
						-webkit-transform: translateY(0);
						transform: translateY(0)
					}
					90% {
						opacity: 0;
						-webkit-transform: translateY(20px);
						transform: translateY(20px)
					}
					91% {
						opacity: 0;
						-webkit-transform: translateY(0);
						transform: translateY(0)
					}
				}
				@keyframes mouseScroll {
					0%, 50% {
						opacity: 1;
						-webkit-transform: translateY(0);
						transform: translateY(0)
					}
					90% {
						opacity: 0;
						-webkit-transform: translateY(20px);
						transform: translateY(20px)
					}
					91% {
						opacity: 0;
						-webkit-transform: translateY(0);
						transform: translateY(0)
					}
				}
            }
		}
		//Industries
		.industries {
			.tile {
				position: relative;				
				box-sizing:border-box;
				overflow: hidden;
				.tile-icon, .tile-text {
					position: absolute;
					height:100%;
					width:100%;
					padding:30px;
					transition: all 0.5s ease-in-out;
				    -webkit-transition: all .5s ease;
				    -moz-transition: all .5s ease;
				    -ms-transition: all .5s ease;
				    -o-transition: all .5s ease;
				}
				.link {
					position: absolute;
					top:0;
					left:0;
					height:100%;
					width:100%;
					z-index: 100;
				}
				.btn {
					position: absolute;
					bottom:30px;
					left:30px;
				}
			}
			.fed-icon:before {
				content: "\e606";
			}
			.state-icon:before {
				content: "\e801";
			}
			.city-icon:before {
				content: "\e602";
			}
			.county-icon:before {
				content: "\e800";
			}
			.ngo-icon:before {
				content: "\e810";
			}
			.open-data-network-icon:before {
				content: "\e900";
			}
			.what-we-do {
				h2 {
					color:white;
					margin:0 0 15px;
				}
				p {
					color:$concrete;
				}
			}
			.stat {
				position: relative;
				font-size: 14px;
				padding:15px 15px 15px 35px;
				background-color:rgba(white, 0.1);
				border-radius:5px;
				span {
					display:block;
					font-size:24px;
					font-weight:$font-light;
					margin-bottom:5px;
				}
			}
			.stat:before {
				font-family: fontawesome;
				content:"\f05a";
				position: absolute;
				top:15px;
				left:15px;
				font-style: normal;
				font-size: 16px;
			}
		}
		
		//Articles
		.articles {
			
			.card {
				height:425px;
			}
			.card-avatar {				
				.icon-avatar {
					height:60px;
					width:60px;
					border:white solid 2px;
					margin:0 auto;
					position: relative;
				}
				.icon-avatar:before {					
					position: absolute;
					font-family: 'fontawesome';					
					font-size: 28px;
					color:white;
				}
				.events {
					background-color:$green-sea;
				}
				.events:before {
					content: "\f133";			
					top:12px;
					left:15px;
				}
				.case-studies {
					background-color:$pumpkin;
				}
				.case-studies:before {					
					content: "\f016";			
					top:12px;
					left:16px;
				}
			}
		}
	}
	//Customers
	.customers {
		article {
			.logo-frame {
				width:100%;
				height: 180px;
				padding:30px;
				border:lighten($silver, 10%) solid 5px;
				margin-bottom:15px;
				img {
					display:inline-block;
					position: relative;
					top: 50%;
					-webkit-transform: translateY(-50%);
					-ms-transform: translateY(-50%);
					transform: translateY(-50%);
				}
			}
			.customer-text {
				height:150px;
				h5 {
					margin-bottom:15px;
				}
			}
			ul {
				list-style-type: none;
				margin:0;
				padding:0;
			}
			li {
				display:inline-block;
				padding:0 10px;
			}
			li:first-child {
				padding-left:0;
			}
			li:last-child {
				border-left:$silver solid 1px;
				padding-right:0;
			}
		}
	}
	//Clock
	#face {
		stroke-width: 5px;
		fill: $peter-river;
		stroke: white; 
	}
	#hour, #min, #sec {
		stroke-width: 1px;
		fill: white; 
		stroke: white;
	}
	#sec {
		stroke: white;
	}
	#dot {
		stroke-width: 1px; 
		fill: $peter-river; 
		stroke: white;
	}
	/* Hero */
	.hero {
		width:100%;
		height:100vh;
		margin-top:-60px;
		position: relative;		
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
	}
	.hero-full {
		width:100%;
		height:100vh;
		margin-top:-60px;
		position: relative;		
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
	}
	.vertical-center{
	    position: absolute;
	    top:50%;
	    left: 0%;
	    transform:translate(0%, -50%);
	    -webkit-transform:translate(0%, -50%);
	    width:100%;
	}
	/* Product and Solution Pages*/
	.section-image-fixed {
		background-size:cover;
		background-repeat:no-repeat;
		background-position:center center;
		background-attachment: fixed;		
		position: relative;
	}
	.section-image {
		width:100%;
		height:100vh;
		background-size:cover;
		background-repeat:no-repeat;
		background-position:center center;
	}
	.section-text-reverse * {
		color:white;
	}
	.section-title {
		margin-bottom:50px;
	}
	.shadow {
		box-shadow: 0 0 20px rgba(0,0,0,0.15);
	}
	.solutions-list {
		p {
			margin:0 0 10px 0;
		}
		ul {
			list-style-type: none;
			margin:0 0 30px 0;
			padding:0;
		}
		li {
			padding-left:40px;
			position: relative;
		}
		li:before {
			font-family: icomoon;
			position: absolute;
			left:0;
			top:0;
			font-size: 32px;
		}
	}
	.solution-icon i {
		font-size: 200px;
	}
	.featured-assets {
		h4 {
			padding-top:32px;
			position: relative;
		}
		small {
			display: inline-block;
			background:$asbestos;
			color:white;
			font-size:12px;
			text-transform: uppercase;
			padding:5px 10px;
			position: absolute;
			top:0;
			left:0;
		}
	}
	.value-card {
		padding:15px;
		i {
			display:inline-block;
		}
		p:first-of-type {
			border-bottom:dotted 1px;
			padding-bottom:20px;
			color:white;
		} 
	}
	.icon-50 {
		font-size:50px;
	}
	.icon-100 {
		font-size:100px;
	}	
	.icon-200 {
		font-size:200px;
	}
	.solutions-logos {
		.logo-frame {
			padding:15px;
			border:$clouds solid 5px;
			height:140px;
			margin-bottom:15px;
			img {
				display:inline-block;
				position: relative;
				top: 50%;
				transform: translateY(-50%);
			}
		}		
		p {
			line-height: normal;
		}
	}

	// Background Images
	.img-background {
		background-repeat:no-repeat;
		background-position:center center;
		background-size:cover;
		position:relative;
	}
	.img-background-fixed {
		background-size:cover;
		background-repeat:no-repeat;
		background-position:center center;
		background-attachment: fixed;		
		position: relative;
	}
	.finance-solution-image {
		background-image:url(../images/finance-hero.jpg);
	}
	.public-safety-solution-image {
		background-image:url(../images/public-safety-hero.jpg);
	}
	.federal-solution-image {
		background-image:url(../images/federal-hero.jpg);
	}
	.state-solution-image {
		background-image:url(../images/state-hero.jpg);
	}
	.city-solution-image {
		background-image:url(../images/city-hero.jpg);
	}
	.county-solution-image {
		background-image:url(../images/county-hero.jpg);
	}
	.non-profit-solution-image {
		background-image:url(../images/non-profit-hero.jpg);
	}
	.open-budget-image {
		background-image:url(../images/finance-open-budget.jpg);
	}
	.open-expenditures-image {
		background-image:url(../images/finance-open-expenditures.jpg);
	}
	.open-payroll-image {
		background-image:url(../images/finance-open-payroll.jpg);
	}
	.public-safety-one {
		background-image:url(../images/public-safety-one.jpg);
	}
	.public-safety-two {
		background-image:url(../images/public-safety-two.jpg);
	}
	.public-safety-three {
		background-image:url(../images/public-safety-three.jpg);
	}
	.open-data-one {		
		background-image:url(../images/open-data-hero.jpg);
	}
	.open-data-two {		
		background-image:url(../images/clouds.jpg);
	}
	.open-data-three {		
		background-image:url(../images/open-data-three.jpg);
	}
	.open-performance-one {		
		background-image:url(../images/open-performance-one.jpg);
	}
	.open-performance-two {		
		background-image:url(../images/open-performance-data.jpg);
	}
	.open-performance-three {		
		background-image:url(../images/open-performance-three.jpg);
	}
	.open-federal-hero {		
		background-image:url(../images/federal-hero.jpg);
	}
	.background-international {
		background-image:url(../images/international.jpg);
		background-repeat:no-repeat;
		background-position:center center;
		background-size:cover;
	}
	.demo-hero {		
		background-image:url(../images/graph.jpg);
	}
	.scs2015-hero {		
		background-image:url(../images/scs-hero-bw.jpg);
	}
	.partner-hero {
		background-image:url(../images/handshake.png);
		background-position: center top; 
		background-repeat:no-repeat;
		padding-top:250px;
	}
	// Company Info
	.leadership {
		article {
			padding:25px;
			h4 {
				margin-bottom: 5px;
				line-height: 1.5em;
				small {
					display: block;
				}
			}
			.thumb {
				position: relative;				
				img {
					cursor:pointer;
					display: inline-block;
					height:100%;
					width:100%;
				}
				.overlay {
					position: absolute;
					top:0;
					left:0;
					width:100%;
					height:100%;
					background-color: rgba(0, 0, 0, 0.5);
					border-radius:50%;
					opacity: 0;
					transition: opacity .25s ease-in-out;
					-moz-transition: opacity .25s ease-in-out;
					-webkit-transition: opacity .25s ease-in-out;
					ul.profile-links {
						list-style-type: none;
						margin: 0;
						padding: 0;
						text-align: center;
						height:100%;
						width:100%;
						li {
							display: inline-block;
							padding:0 5px;
							font-size: 16px;
							position: relative;
							top: 50%;
							transform: translateY(-50%);
							font-size: 24px;
							a {
								color:white;
								cursor:pointer;
							}
							a:hover {
								color:$silver;
							}
						}
					}
				}
				.overlay:hover {
					opacity: 1;
				}
			}
			.modal-header {
				background-color:$clouds;
				height:100px;
			}
			.modal-body {
				img {
					height:80px;
					width:80px;
					margin-top:-55px;
					cursor: default;
				}
				h4 {
					margin-bottom:30px;
				}
			}
		}
	}
	.advisors {
		ul {
			list-style-type: none;
			margin:0;
			padding: 0;
			li {
				height:100px;
				position: relative;
				padding-left:100px;
				padding-right:10px;
				img {
					height:80px;
					width:80px;
					position: absolute;
					top:10px;
					left:10px;
				}
				h5 {
					position: relative;
					top: 50%;
					margin:0;
					transform: translateY(-50%);
					font-size:18px;
					small {
						display: block;
						margin-top:5px;
					}
				}
				a {
					position: absolute;
					top:0;
					left:0;
					height:100%;
					width:100%;
					cursor: pointer;
				}
			}
			li:hover {
				background-color:lighten($clouds, 5%);
			}
		}
		.modal-header {
			background-color:$clouds;
			height:100px;
		}
		.modal-body {
			img {
				height:80px;
				width:80px;
				margin-top:-55px;
				margin-bottom:15px;
				cursor: default;
				position: relative;
			}
			h4 {
				margin-bottom:30px;
				small {
					display: block;
					margin-top:5px;
				}
			}
		}
	}
	.investors {
		a {
			cursor:pointer;
		}
	}
	.mission-image {
		background-image:url(../images/mission.jpg);
	}
	.employee-image {
		background-image:url(../images/employees.jpg);
	}

	//404 Page
	.sad-snuffy {
		background-image:url(../images/sad-snuffy.png);
		background-repeat:no-repeat;
		background-position:center center;
		background-size:contain;
		height:150px;
		margin-bottom:30px;
	}

}




	/* Finance Hero (May not use this!!!!) */
	.finance-hero {
		background-image: url(../images/finance-hero.jpg);
		.text * {
			color:white;
		}
		.text {
			z-index: 100;
		}
		.overlay {
			height:100% !important;
			width:100% !important;;
			position: absolute;
			top:0;
			width:0;
			z-index: 1;
			background-color:rgba($wet-asphalt,0.75);
		}
	}
















/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.value p span {
		font-size: 20px;
		font-weight: $font-normal;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.home {
		.home-hero {
			width:100%;
			height:100vh;
			margin-top:-60px;
			overflow: hidden;
            .text {
                padding-top:110px;
            }
            .btn {
                border:white solid 5px;
            }
		}
		.industries {
			.tile {
				height:380px;
				.tile-icon {
					top:0;
					h4 {
						position:absolute;
						left:0;
						top:160px;
						width:100%;
						margin:0;
						padding:65px 30px 0 30px;
					}
					.icon:before {
						font-family: 'icomoon';
						font-size:100px;
						position: absolute;
						left:0;
						top:-50px;
						width:100%;
					}
				}
				.tile-text {
					top:380px;
					h4 {
						position: relative;
						padding-left:32px;
					}
					.icon:before {
						font-family: 'icomoon';
						font-size:24px;
						position: absolute;
						left:0;
						top:0;
					}
				}
			}
			.tile:hover {
				.tile-icon {
					top:-380px;
				}
				.tile-text {
					top:0;
				}
			}
			.what-we-do {
				padding:80px 30px 0 0;
	
			}
		}
	}
}


