.jumbotron {
  padding: 0;
}

.cloud-solutions {
  .clouds {
    .cloud {
    }
    #icon-city_cloud {
      h2 {
        background-color: darken(@city-blue, 15%);
      }
    }
    #icon-county_cloud {
      h2 {
        background-color: darken(@county-yellow, 15%);
      }
    }
    #icon-state_cloud {
      h2 {
        background-color: darken(@state-red, 15%);
      }
    }
    #icon-federal_cloud {
      h2 {
        background-color: darken(@federal-blue, 15%);
      }
    }
    #icon-ngo_cloud {
      h2 {
        background-color: darken(@ngo-green, 15%);
      }
    }
  }
}

@media (min-width: @screen-sm-min) {
  .jumbotron {
    .slide {
      padding: 50px 0;
      background-size: cover;
      background-position: top center;
    }
  }

  .cloud-solutions {
    .jumbotron {
      text-align: center;
      .slide {
        padding-top: 260px;
      }
      h1 {
        font-weight: 300;
        font-size: 3.5em;
      }
      h2 {
        font-size: 1.8em;
        font-weight: 300;
      }
    }

    .clouds {
      .cloud {
        .cloud-icon {
          font-size: 9.6em;
          position: absolute;
          left: -2px;
          width: 121px;
          height: 123px;
          overflow: hidden;
          border-top-left-radius: 8px;
          border-bottom-left-radius: 8px;
          z-index: 200;
          &:before {
            top: -5px;
            left: -5px;
            position: absolute;
          }
          background-color: @white;
        }
        h2 {
          text-transform: uppercase;
          text-align: left;
          font-weight: 300;
          font-size: 2.3em;
          width: 95%;
          height: 123px;
          float: right;
          padding: 25px 0 0 95px;
          color: @white;
          margin: 0 -15px;
          border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
          .small {
            font-size: .85em;
            color: @white;
          }
        }
        h3 {
          font-size: 2em;
        }
        .cloud-detail {
          height: 177px;
          overflow: hidden;
          margin-top: -10px;
        }
      }
    }
  }
}
@media (min-width: @screen-md-min) {
}
@media (min-width: @screen-lg-min) {
}
