@media only screen and (min-width : 320px) {
	.archive-title {
		margin-top:0;
	}
	.article-content {
		margin-top:15px;
		margin-bottom:50px;
		box-sizing:border-box;
		.wrapper {
			position: relative;
			background:#fff;
			padding:60px 30px;
			box-shadow: 0 0 15px rgba(0,0,0,0.20);
		}
		.category-name {
			text-transform: uppercase;
		}
		.entry-title {
			margin:10px 0;
		}
		.byline {
			padding: 0 0 30px 0;
			margin: 1.63em 0;		
			border-bottom:$clouds solid 5px;
		}	
	}
	/* Blog Nav */
	.blog-nav h5 {
		background-color:$wisteria;
	}

	/* By Line */
	.byline {
		list-style-type: none;
		margin:0;
		padding:0;
		li {
			display: inline-block;
			margin:0;
			vertical-align: middle;
		}
		img {
			-moz-border-radius:50%;
		 	-webkit-border-radius:50%;
		 	border-radius:50%;
		 	margin-right: 10px !important;
		}
	}

	/* Marketo Sharing Icons */
	.marketo-share {
		position: absolute;
		right:13px;
		top:15px;
	}
	.cf_actionElem {
		display:none !important;
	}
	.cf_widget .cf_socialicons .cf_socialicon {
		width:32px !important;
		height: 32px !important;
	}
	.cf_linkedin, .cf_twitter, .cf_facebook {
		background-image:none !important;
		position: relative !important;
	}
	.cf_linkedin {	
		background-color:#007bb6 !important;
	}
	.cf_twitter {
		background-color:#4099ff !important;
	}
	.cf_facebook {
		background-color:#3b5998 !important;
	}
	.cf_linkedin:before, .cf_twitter:before, .cf_facebook:before  {
		position: absolute;
		font-family: 'FontAwesome';
		color:#fff;
		font-size: 16px;
	}
	.cf_linkedin:before {
		top: 3px;
		left: 9px;
		content: "\f0e1";
	}
	.cf_twitter:before {
		top: 4px;
		left: 9px;
		content: "\f099";
	}
	.cf_facebook:before {
		top: 4px;
		left: 11px;
		content: "\f09a";
	}

	/* Pagination */

	.pagination {
		clear:both;
		position:relative;
		font-size:11px;
		line-height:normal;
		text-align: center;
		margin:0;
		width:100%;
		border-top:$clouds solid 5px;
		padding:30px 0;
		.pagination-wrapper {
			margin:0 auto;
			display: inline-block;
		}
		span, a {
			display:block;
			float:left;
			margin:0 1px;
			padding:10px 13px 0 13px;
			text-decoration:none;
			width:auto;
			color:#fff;
			background:$silver;
			text-transform: uppercase;
			height:32px;
		}
		a:hover{
			color:#fff;
			background: #3498db;
		}
		.current{
			padding:10px 13px 0 13px;
			background: $emerald;
			color:#fff;
		}
	}

	/* Featured Post */

	.featured-post {
		margin-bottom:30px;
		box-sizing: border-box;
		position: relative;
		background-color:$clouds;
		background-size:cover;
		background-position:center center;
		height:300px;
		.text * {
			color:white;
			margin:0;
		}
		.text {			
			width:90%;
			position: absolute;
			left:30px;
			top:40px;			
			z-index: 100;
			h2 {
				margin-bottom:15px;
				a:hover {
					text-decoration: underline;
				}
			}
			.categories {
				font-size:14px;
				text-transform: uppercase;
			}
		}
		.overlay {
			position: absolute;
			height:100%;
			width:100%;
			z-index: 1;
			background-color:rgba(0,0,0,.5);
		}
		.link {
			position: absolute;
			top:0;
			left:0;
			width:100%;
			height: 100%;
			z-index: 50;
		}
		.byline {
			position:absolute;
			bottom:30px;
			left:30px;
			z-index: 20;
			li {
				color:white;
			}
			img {
				border:white solid 2px;
			}
		}
	}

	.paged .featured-post, .archive .featured-post {
		display: none;
	}


	/* Author Description */

	.author-description {
		padding:15px;
		line-height: normal;
		border-top:$clouds solid 3px;
		border-bottom:$clouds solid 3px;
		margin:1.5em 0;
		h3 {
			margin-top:0;
		}
	}
	.avatar {
		-moz-border-radius:50%;
	 	-webkit-border-radius:50%;
	 	border-radius:50%;
	 	display: inline-block !important;
	}
	.blog, .category {
		.card {
			height:400px;
			margin-bottom:30px;
		}
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.feature-image {
		height:300px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		background-color: #222;
		width:100%;
		position:relative;
		.pattern-overlay {
			position:absolute;
			height:100%;
			width:100%;
			background:url(../images/pattern-stripe.png);
			opacity: 0.3;
		}
		.image-attribution {
			position: absolute;
			bottom:0;
			right:0;
			z-index: 2;
			font-size: 12px;
			padding:5px 10px;
			background-color:rgba(0,0,0,.5);
			color:$silver;
		}
	}
	.featured-post {
		height:400px;
		.text {
				width:45%;

		}
	}

	.article-content {
		margin-top:-150px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {


}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.feature-image {
		height:400px;
	}
}

.single-socrata_videos {
	.main {
		background-color:lighten($gray-dark, 5%);
		h1, p, li {
			color:white;
		}
		h1, .categories {
			margin:0;
		}
		.video-container {
			margin-bottom:50px;
			box-shadow: 0px 0px 20px $gray-dark;
		}
		.marketo-share {
			position: relative;
			left:-3px;
			top:0;
			padding:20px 0;
		}
		.categories {
			text-transform: uppercase;
			font-size: 12px;
		}
	}
}


