@media only screen and (min-width : 320px) {

	footer {
		background-color:$light-grey-5;
		border-top:$light-grey-4 solid 1px;
		a:hover {
			color:$primary;
		}
		ul {
			list-style-type:none;
			margin:0;
			padding:0;
		}
		.social-icons {
			display:inline-block;
			margin-bottom:30px;
			li {
				display:inline-block;
				height:24px;
				width:24px;
				position: relative;
				margin:0 10px;
				float:left;
			}
			li:first-child {
				margin-left:0;
			}
			li:last-child {
				margin-right:0;
			}
			a {
				position: absolute;
				top:0;
				left:0;
				width:24px;
				height: 24px;
				overflow: hidden;
				text-indent: -9999px;
			}
			.facebook:before, .twitter:before, .linkedin:before, .google:before, .youtube:before {
				position: absolute;
				font-family: 'FontAwesome';
				color:#fff;
				font-size: 14px;
			}
			.facebook:before {
				top:0;
				left:8px;
				content: "\f09a";
			}
			.twitter:before {
				top:0;
				left:6px;
				content: "\f099";
			}
			.linkedin:before {
				top:0;
				left:7px;
				content: "\f0e1";
			}
			.youtube:before {
				top:0;
				left:6px;
				content: "\f16a";
			}
			.facebook, .twitter, .linkedin, .youtube {
				background-color:$grey;
				border-radius:50%;
			}
			.facebook:hover, .twitter:hover, .linkedin:hover, .youtube:hover {
				background-color:$primary;
			}
		}
		.copyright-container {
			text-align: left;
			.menu {
				li { 
					display:inline-block;
					padding-right:20px;
					a {
						font-weight: $font-normal;
					}
				}
				li:last-child {
					padding:0;
				}
			}
			p, a {
				font-size:13px;
			}			
			.footer-logo {
				display:inline-block;
				width:90px;
				height:24px;
				margin-bottom:15px;
			}
		}
	}
}

@media (min-width: 768px) {
	footer .copyright-container {
		text-align: right;
	}
}

