.home-masthead {
	.slide, .single-slide {
		width:100%;
		background-repeat:no-repeat;
		background-position:center center;
		position: relative;
		background-size: cover;
		.text {
			position: absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			z-index: 100;
			.btn { 
				border:none;
			}
		}
	}
	.slide:after, .single-slide:after {
		content: '';
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		position: absolute;
		z-index: 3;
		background: rgba($primary-dark, 0.3);
	}
}

.masthead, .single-masthead {
	position: relative;	
	.text {
		position: absolute;
		z-index: 10;
		bottom:60px;
		left:0;
		width:100%;
		h3 {
			font-weight: $font-normal;
		}
	}
	.img {
		position: absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		filter: contrast(1.1) saturate(1.9) grayscale(0.3);
	}
}
.masthead:before, .masthead:after, .single-masthead:before, .single-masthead:after {
	content: '';
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
}
.masthead:before {
	z-index: 2;
	mix-blend-mode: multiply;
	box-shadow: 0 0 250px $black inset;
	background: rgba($primary-dark, 0.3);
} 
.masthead:after, .single-masthead:after {
	z-index: 3;
	background: rgba($primary-dark, 0.3);
}

@media only screen and (min-width : 320px) {	
	.masthead .text {
		bottom:50px;
	}	
	.single-masthead {
		height:200px;
	}
}

@media only screen and (min-width : 992px) {
	.masthead .text {
		bottom:60px;
	}
}

@media screen and ( min-height: 300px ){
    .home-masthead, .home-masthead .slide, .home-masthead .single-slide {
    	height:400px;
    }
    .masthead {
		height:300px;
	}
}

@media screen and ( min-height: 768px ){
    .home-masthead, .home-masthead .slide, .home-masthead .single-slide {
    	height:600px;
    }
    .masthead {
		height:400px;
	}
}

@media screen and ( min-height: 1080px ){
    .home-masthead, .home-masthead .slide, .home-masthead .single-slide {
    	height:720px;
    }
    .masthead {
		height:500px;
	}
}


.section-title {
	margin-bottom:60px;
	text-transform:uppercase;
	font-weight:$font-light;
}
.cta-bar {
	padding:30px 0 0 0;
	ul {
		list-style-type: none;
		margin:0;
		padding:0;
		display: table;
		width:100%;
		li {
			display: table-cell;
			vertical-align: center;
		}
		li:nth-child(2) {
			text-align: right;
		}
	}
}

.background-video * {
	text-align:center;
}
.background-video{
	width:100%;
	height:600px;
	position: relative;
	background-color:$black;
	.text {
		position: absolute;
		top:0;
		left:0;
		width:100%;
		height: 100%;
		z-index: 100;
		a {
			transition: all .5s ease;
			-moz-transition: all .5s ease;
			-ms-transition: all .5s ease;
			-webkit-transition: all .5s ease;
			-o-transition: all .5s ease;
			color:white;
			font-size: 50px;
		}
		a:hover {
			color:$primary;
		}
	}
	.image {
		position: absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background-position:center center;
		background-size:cover;
		background-repeat:no-repeat;
	}
	.image:before {
		content: '';
		position: absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background-color:rgba($black,.5);
		z-index: 10;
	}
}
.feature-tiles {
	.tile {
		border-top:$light-grey-1 solid 1px;
		padding-top:30px;
		margin-bottom:30px;
		h5 {
			margin-bottom:15px;
			a {
				color:$black;
			}
			a:hover {
				color:$primary;
			}
		}
	}
}

.link {
	position: absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	z-index: 100;
}








@media only screen and (min-width : 320px) { 

	.feature-event {
		margin-bottom:80px;
		position: relative;
		border: $light-grey-3 solid 1px;
		.feature-event-image {
			position: relative;
		}
		.feature-event-image:after {
			content: "";
		    height: 100%;
		    width: 100%;
		    top: 0;
		    left: 0;
		    position: absolute;
		    z-index: 1;
		    background: rgba($primary-alt-2-dark,.5);
		}
		.feature-event-meta {
			display:table;
			width:100%;
			padding:15px;
			.date, .meta {
				display:table-cell;
				vertical-align: top;
				padding:15px;
			}
			.date {
				width:15%;
				text-align: center;
				text-transform: uppercase;
				.day {
					font-weight: $font-normal;
					font-size:32px;
				}
				.month {
					font-size:14px;
					font-weight: $font-light;
				}
			}
			.meta {
				width:85%;					
				.category, .title, .location {
					font-weight: $font-light;
				}
				.category {
					text-transform:uppercase;
					font-size:12px;
					letter-spacing: 1px;
					margin-bottom:5px;
				}
				.title {
					font-size:18px;
					margin-bottom:5px;
				}
				.location {
					font-size:14px;
				}
			}
		}
		.link {
			position: absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			z-index:100;
		}
		.image-attribution {
			display: none;
		}
	}
	.events-list {
		width:100%;
		.event {
			.date {
				text-align: center;
				position: relative;
				width:15%;
				.day {
					font-size: 32px;
					font-weight: $font-normal;
				}
				.month {
					font-size: 14px;
					text-transform: uppercase;
					color:$grey;
					font-weight: $font-normal;
				}
			}
			.meta {
				padding:30px;
				position: relative;
				border-bottom:$light-grey-4 solid 1px;	
				width:85%;
				.category {
					text-transform:uppercase;
					font-size:12px;
					letter-spacing: 1px;
					margin-bottom:5px;
				}
				.title {
					font-size:18px;
					margin-bottom:5px;
				}
				.location {
					font-size:14px;
				}
			}
			.date, .meta {
				a {
					position: absolute;
					top:0;
					left:0;
					width:100%;
					height:100%;
					z-index:10;
					cursor: pointer !important;
				}
			}
		}
	}
}

@media only screen and (min-width : 768px) {
	.feature-event {
		.feature-event-meta {
			.date, .meta {
				vertical-align: middle;
			}
			.meta {
				.category {
					font-size:13px;
				}
				.title {
					font-size:24px;
					margin-bottom:5px;
				}
				.location {
					font-size:14px;
				}
			}
		}
	}
	.events-list {
		.event {
			.meta {
				.category {
					font-size:13px;
				}
				.title {
					font-size:24px;
				}
				.location {
					font-size:14px;
				}
			}
		}
	}
}



@media only screen and (min-width : 992px) {
	.feature-event {
		border: none;
		.feature-event-meta {
			padding:30px;
			position: absolute;
			bottom:0;
			left:0;
			z-index: 10;
			.date {
				.day {
					font-size:50px;
				}
				.month {
					font-size:18px;
					font-weight: $font-normal;
				}
			}
			.meta {		
				.category, .title, .location {
					font-weight: $font-normal;
				}
				.category {
					font-size:14px;
				}
				.title {
					font-size:32px;
					margin-bottom:5px;
				}
				.location {
					font-size:18px;
				}
			}
		}
		.image-attribution {
			position: absolute;
			right:10px;
			bottom:5px;
			z-index:200;
			display:inline-block;
			font-size: 12px;
		}
		.feature-event-meta *, .image-attribution, .image-attribution * {
			color: $white !important;
		}
	}
	.events-list {
		.event {
			.date {
				.day {
					font-size: 40px;
				}
			}			
			.meta {	
				transition: all 0.25s ease-in-out;
				-webkit-transition: all .25s ease;
				-moz-transition: all .25s ease;
				-ms-transition: all .25s ease;
				-o-transition: all .25s ease;
				.category {
					font-size:14px;
				}
				.title {
					font-size:32px;
					margin-bottom:5px;
				}
				.location {
					font-size:18px;
				}
			}
			.meta:hover {
				background-color:$primary;
				box-shadow: 0px 10px 15px $light-grey-3;
				cursor: pointer !important;
				.category, .title, .location {
					color:$white;
				}
			}
		}
	}
}
















@media only screen and (min-width : 320px) {
	/* Home Page */
	.home {
		.home-hero {
			width:100%;
			height:100vh;
			margin-top:-60px;
			overflow: hidden;
			position: relative;
			.text-wrapper {
				position: absolute;
				top:0;
				left:0;
				width:100%;
				z-index: 1;
			}
            .text {
                padding-top:110px;
            }         
            .slide {
            	height:100vh;
            	width:100%;
            	background-repeat:no-repeat;
            	background-size:cover;
            	background-position:center center;
            }
		}
		//Industries
		.industries {
			.tile {
				position: relative;				
				box-sizing:border-box;
				overflow: hidden;				
				height:380px;
				.tile-icon, .tile-text {
					position: absolute;
					height:100%;
					width:100%;
					padding:30px;
					transition: all 0.5s ease-in-out;
				    -webkit-transition: all .5s ease;
				    -moz-transition: all .5s ease;
				    -ms-transition: all .5s ease;
				    -o-transition: all .5s ease;
				}
				.tile-icon {
					top:0;
					h4 {
						position:absolute;
						left:0;
						top:160px;
						width:100%;
						margin:0;
						padding:65px 30px 0 30px;
					}
					.icon:before {
						font-family: 'icomoon';
						font-size:100px;
						position: absolute;
						left:0;
						top:-50px;
						width:100%;
					}
				}
				.tile-text {
					top:380px;
					h4 {
						position: relative;
						padding-left:32px;
					}
					.icon:before {
						font-family: 'icomoon';
						font-size:24px;
						position: absolute;
						left:0;
						top:0;
					}
				}				
				.btn {
					position: absolute;
					bottom:30px;
					left:30px;
				}
			}
			.fed-icon:before {
				content: "\e606";
			}
			.state-icon:before {
				content: "\e801";
			}
			.city-icon:before {
				content: "\e602";
			}
			.county-icon:before {
				content: "\e800";
			}
			.ngo-icon:before {
				content: "\e810";
			}
			.open-data-network-icon:before {
				content: "\e900";
			}
			.stat {
				position: relative;
				font-size: 14px;
				padding:15px 15px 15px 35px;
				background-color:rgba(white, 0.1);
				border-radius:5px;
				span {
					display:block;
					font-size:24px;
					font-weight:$font-light;
					margin-bottom:5px;
				}
			}
			.stat:before {
				font-family: fontawesome;
				content:"\f05a";
				position: absolute;
				top:15px;
				left:15px;
				font-style: normal;
				font-size: 16px;
			}
		}
	}

	.customer-story {
		height:100vh;
		position: relative;
		filter: contrast(1.1) saturate(1.9) grayscale(0.3);
		background-color:$light-grey-2;
		background-blend-mode:multiply;
		.text {
			position: absolute;
			bottom:80px;
			left:0;
			width:100%;
		}
	}


	/* Hero */
	.hero-full {
		width:100%;
		height:100vh;
		margin-top:-60px;
		position: relative;		
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
	}
	.hero-header * {
		text-shadow: 0 0 15px white;
	}
	.hero-header {
		.btn {
			text-shadow: none;
		}
	}
	.hero-header {		
		padding:0;
		position: relative;
		overflow:hidden;
		background-size: cover;
		background-position:center center;
		.container {
			padding-top:100px;
			padding-bottom:70px;
		}
	}
	.hero-header:before {
		content: '';
		position: absolute;
		top:0;
		left:0;
		height:100%;
		width:100%;
		background: -moz-linear-gradient(top,  rgba(255,255,255,0.3) 0%, rgba(255,255,255,1) 100%);
        background: -webkit-linear-gradient(top,  rgba(255,255,255,0.3) 0%,rgba(255,255,255,1) 100%);
        background: linear-gradient(to bottom,  rgba(255,255,255,0.3) 0%,rgba(255,255,255,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dffffff', endColorstr='#ffffff',GradientType=0 );
	}
	.hero-animated, .hero {
		height:400px;
		position: relative;
		overflow: hidden;
		.outer {
			position: absolute;
			top:0;
			left:0;
			z-index: 1;
			height:100%;
			width:100%;
			display: table;
		}
		.inner {
			display: table-cell;
			vertical-align: middle;
		}		
		.image-attribution {
			position: absolute;
			bottom:0;
			right:0;
			z-index: 2;
			font-size: 12px;
			padding:5px 10px;
			color:$light-grey-4;
			a {
				color:$light-grey-4;
			}
		}
	}
	.vertical-center{
	    position: absolute;
	    top:50%;
	    left: 0%;
	    transform:translate(0%, -50%);
	    -webkit-transform:translate(0%, -50%);
	    width:100%;
	}

	/* Product and Solution Pages*/
	.section-image-fixed {
		background-size:cover;
		background-repeat:no-repeat;
		background-position:center center;
		background-attachment: fixed;		
		position: relative;
	}
	.section-image {
		width:100%;
		height:100vh;
		background-size:cover;
		background-repeat:no-repeat;
		background-position:center center;
	}

	.featured-assets {
		h4 {
			margin-bottom:15px;
		}
		p:first-of-type {
			margin:0 0 15px 0;
			line-height: normal;
		}
		small {
			display: inline-block;
			background:$light-grey-4;
			color:$grey;
			font-size:12px;
			text-transform: uppercase;
			padding:5px 10px;
		}
	}

	.icon-50 {
		font-size:50px;
	}
	.icon-80 {
		font-size:80px;
	}
	.icon-100 {
		font-size:100px;
	}	
	.icon-200 {
		font-size:200px;
	}
	.icon-header {
		text-shadow: 0 0 20px white;
	}

	.icon-nav {
		i {
			font-size:50px;
			display: block;
			margin-bottom:5px;
		}
		ul {
			list-style-type: none;
			text-align: center;
			margin:0;
			padding:30px 0;
		}
		li {
			width:60px;
			display: inline-block;
			line-height: 12px;
			vertical-align: top;
		}
		small {
			font-size: 12px;
			display: block;
		}
	}

	// Background Images
	.img-background {
		background-repeat:no-repeat;
		background-position:center center;
		background-size:cover;
		position:relative;
	}	
	.img-background-fixed {
		background-size:cover;
		background-repeat:no-repeat;
		background-position:center center;	
		position: relative;
		@include media(">desktop") {
			background-attachment: fixed;
			will-change: transform;
		}
	}

	.img-background-contain {
		background-repeat:no-repeat;
		background-position:center center;
		background-size:contain;
	}
	.channel-open-data {
		background-image:url(../images/channel-open-data.jpg);
	}
	.channel-open-performance {
		background-image:url(../images/channel-open-performance.jpg);		
	}
	.channel-socrata-for-finance {
		background-image:url(../images/channel-socrata-for-finance.jpg);		
	}
	.channel-socrata-for-public-safety {
		background-image:url(../images/channel-socrata-for-public-safety.jpg);		
	}
	.channel-customer-summit{
		background-image:url(../images/channel-customer-summit.jpg);		
	}
	.channel-odtv{
		background-image:url(../images/channel-odtv.jpg);		
	}
	.investors {
		.logo {
			border:$silver solid 1px;
			display: table;
			width:100%;
			height: 200px;
			position: relative;
			.image {
				display: table-cell;
				height: 100%;
				width: 100%;
				vertical-align: middle;
				img {
					max-height: 150px;
					max-width:150px;
				}
			}
			a {
				position: absolute;
				top: 0;
				left:0;
				width: 100%;
				height: 100%;
			}
		}
	}
	.mission-image {
		background-image:url(../images/mission.jpg);
	}
	.employee-image {
		background-image:url(../images/employees.jpg);
	}

	//404 Page
	.sad-snuffy {
		background-image:url(../images/sad-snuffy.png);
		background-repeat:no-repeat;
		background-position:center center;
		background-size:contain;
		height:150px;
		margin-bottom:30px;
	}
	.news {
		article {
			.text {
				p {
					margin-bottom:5px;
				}			
				a {
					color:$black;
				}
				a:hover {
					text-decoration: underline;
				}
			}
		}
		.news-list {
			li {
				border:$light-grey-4 solid 1px;
				margin:0 0 5px 0;
				display:table;
				width:100%;
				padding:15px;
				.thumb, .text, .cta-buttom {
					display:table-cell;
					vertical-align: top;
				}
				.thumb {
					width:100px;
				}
				.text {
					padding:0 30px;
					p {
						margin-bottom:5px;
					}
					a {
						color:$black;
					}
					a:hover {
						text-decoration: underline;
					}
				}
				.cta-button {
					text-align: right;
					white-space: nowrap;
					font-size: 14px;
				}
				
			}
		}
	}
	#map {
		height:400px;
		width:100%;
		position: relative;
		display:block;
		.map {
			position: absolute;
			top:0;
			left:0;
			height:100%;
			width:100%;
			z-index: 1;
		}
		.overlay {
			position: absolute;
			top:0;
			left:0;
			height:100%;
			width:100%;
			z-index: 2; 
		}
	}
	.solutions-value-grid {
		.screen-shot {
			height: 300px;
			position: relative;
			overflow: hidden;
			.image {
				position: absolute;
				top:0;
				left:0;
				width:100%;
				height:100%;
				background-position:center center;
				background-size:cover;
				background-repeat:no-repeat;			
				-moz-transition: all .5s;
				-webkit-transition: all .5s;
				transition: all .5s;
			}
			.caption {
				position: absolute;
				bottom:0;
				left:0;
				width:100%;
				padding:15px;
				z-index: 1;
				background-color:rgba($black,.5);
				p {
					margin:0;
					font-size: 13px;
					font-weight: $font-semi-bold;
					color:white;
				}
				a {
					color:lighten($primary,10%);
				}
			}
		}
		.text {
			padding:15px;
		}
	}
}


/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	#map {
		height:600px;
	}
		.solutions-value-grid {
		.screen-shot {
			height: auto;
		}
		.text {
			padding:30px;
		}
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

	.value p span {
		font-size: 20px;
		font-weight: $font-normal;
	}	
	.icon-nav {
		li {
			width:100px;
		}
	}
	.solutions-value-grid {
		.text {
			padding:60px;
		}
	}
	.solutions-value-grid:hover {
		.image {
			-ms-transform: scale(1.1, 1.1); /* IE 9 */
			-webkit-transform: scale(1.1, 1.1); /* Safari */
			transform: scale(1.1, 1.1);
		}
	}
}

.sixteen-nine {
  @include aspect-ratio(16, 9);
}

.maturity-model {
	position: relative;
	.background {
		position: absolute;
		bottom:0;
		left:0;
		width:100%;
		background-repeat:repeat-x;
		background-position:center;
		background-size:cover;
		z-index: 1;
	}
	.model {
		position: absolute;
		top:0;
		left:0;
		width:100%;
		background-repeat:no-repeat;
		background-position:center;
		background-size:contain;
		z-index: 2;		
	}
}


.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #eeeeee;
        left: 50%;
        margin-left: -1.5px;
    }

    .timeline > li {
        margin-bottom: 20px;
        position: relative;
    }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li > .timeline-panel {
            width: 46%;
            float: left;
            border: 2px solid $grey;
            border-radius: 2px;
            padding: 20px;
            position: relative;
            background:$light-grey-4;
        }

            .timeline > li > .timeline-panel:before {
                position: absolute;
                top: 26px;
                right: -17px;
                display: inline-block;
                border-top: 15px solid transparent;
                border-left: 15px solid $grey;
                border-right: 0 solid $grey;
                border-bottom: 15px solid transparent;
                content: " ";
            }

            .timeline > li > .timeline-panel:after {
                position: absolute;
                top: 27px;
                right: -14px;
                display: inline-block;
                border-top: 14px solid transparent;
                border-left: 14px solid $light-grey-4;
                border-right: 0 solid $light-grey-4;
                border-bottom: 14px solid transparent;
                content: " ";
            }

        .timeline > li > .timeline-badge {
            width: 32px;
            height: 32px;
            line-height: 32px;
            font-size: 1.4em;
            text-align: center;
            position: absolute;
            top: 27px;
            left: 50%;
            margin-left: -16px;
            background-color: $primary-alt-2;
            z-index: 100;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
        }

        .timeline > li:nth-child(even) > .timeline-panel {
            float: right;
        }

        .timeline > li:nth-child(even) > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -17px;
            right: auto;
        }

        .timeline > li:nth-child(even) > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

    .timeline-body > p + p {
        margin-top: 5px;
    }

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
}

















@media only screen and (min-width : 320px) {
	.maturity-model {
		height:400px;
		.background {
			height:305px;
		}
		.model {
			height:400px;	
		}
	}	
}
@media only screen and (min-width : 768px) {
	.maturity-model {
		height:700px;
		.background {
			height:532px;
		}
		.model {
			height:700px;	
		}
	}	
}
@media only screen and (min-width : 992px) {
	.maturity-model {
		height:900px;
		.background {
			height:685px;
		}
		.model {
			height:900px;	
		}
	}	
}
@media only screen and (min-width : 1200px) {
	.maturity-model {
		height:1185px;
		.background {
			height:900px;
		}
		.model {
			height:1185px;	
		}
	}	
}





