/* Import other component's styleshees here */

@import "../../fresh_components/styles/text-image";
@import "../../fresh_components/styles/option-selector-cloud";
@import "../../fresh_components/styles/option-selector-pain-points";
@import "../../fresh_components/styles/ecosystem";
@import "../../fresh_components/styles/news";

.bg-gray {
	background-color: @gray-light;
}

/* Custom */
/* Case Studies */
.section.case-studies {
	padding: 70px 0;
	margin-left: -15px;
	margin-right: -15px;
	&.dark {
		color: @white;
		p {
			color: fadeOut(@white, 20%);
		}
		.slick-dots li button {
			background: @white;
		}
	}
	&.light {
		color: @black;
		padding: 20px 0;
		.slick-dots li button {
			background: @black;
		}
	}
	a {
		color: @white;
		&:hover {
			opacity: .8;
		}
	}
}
.section.case-studies .img-container {
	height: 230px;
	background-repeat: no-repeat;
	background-size: cover;
	display: inline-block;
	width: 100%;
}
.section.case-studies .slick-slider .slick-prev,
.section.case-studies .slick-slider .slick-next {
	top: 48.8%;
}
.section.case-studies .slick-prev {
	left: 2.5%;
}
.section.case-studies .slick-next {
	right: 2.5%;
}
@media (min-width: @screen-sm-min) {
	.section.case-studies .slick-slider .slick-prev,
	.section.case-studies .slick-slider .slick-next {
		top: 0;
	}
	.section.case-studies .slick-prev {
		left: -8.5%;
	}
	.section.case-studies .slick-next {
		right: -8.5%;
	}
}

/* CSS fixes */

/* Slick Slider */
/* Improve slider arrows positioning */
.slick-slider .slick-prev,
.slick-slider .slick-next {
    height: 100%;
    width: 30px;
    top: 0;
    text-align: center;
}
.slick-slider .slick-prev {
	left: 0;
}
.slick-slider .slick-next {
	right: 0;
}
.slick-slider .slick-prev:before,
.slick-slider .slick-next:before {
	display: block;
	top: 50%;
	position: relative;
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.slick-dots {
	text-align: center;
	padding-left: 0;
}
@media (min-width: @screen-md-min) {
	.slick-dots {
		text-align: right;
		padding-right: 56px;
	}
}
@media (min-width: @screen-lg-min) {
	.slick-dots {
		padding-right: 86px;
	}
}

/* Fix vertical alignment issues */
.slick-list, .slick-track,
.slider .slide, .slider .container {
	height: 100%;
}

/* Prevents uploaded images to bleed out of the grid limits */
.section img {
	max-width: 100%;
	height: auto;
}
