/* ----------------------------*/
/* Standard Output             */
/* ----------------------------*/

.clouds {
    .cloud#icon-city_cloud {
        .cloud-icon {
            color: @city-blue;
        }
        h2 {
            background-color: darken(@city-blue, 15%);
            &:hover {
                background-color: @city-blue;
            }
        }
    }
    .cloud#icon-county_cloud {
        .cloud-icon {
            color: @county-yellow;
        }
        h2 {
            background-color: darken(@county-yellow, 15%);
            &:hover {
                background-color: @county-yellow;
            }
        }
    }
    .cloud#icon-state_cloud {
        .cloud-icon {
            color: @state-red;
        }
        h2 {
            background-color: darken(@state-red, 15%);
            &:hover {
                background-color: @state-red;
            }
        }
    }
    .cloud#icon-federal_cloud {
        .cloud-icon {
            color: @federal-blue;
        }
        h2 {
            background-color: darken(@federal-blue, 15%);
            &:hover {
                background-color: @federal-blue;
            }
        }
    }
    .cloud#icon-ngo_cloud {
        .cloud-icon {
            color: @ngo-green;
        }
        h2 {
            background-color: darken(@ngo-green, 15%);
            &:hover {
                background-color: @ngo-green;
            }
        }
    }
    .cloud {
        margin-bottom: 30px;
        padding: 0;
        .cloud-link:hover {
            .cloud-icon {
                .transition(color, .3s);
            }
        }
        .cloud-icon {
            display: block;
            font-size: 5.2em;
            position: absolute;
            left: -18px;
            width: 61px;
            height: 63px;
            overflow: hidden;
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
            z-index: 200;
            background-color: @white;
            &:before {
                top: -5px;
                left: -5px;
                position: absolute;
            }
        }
        h2 {
            .transition(background-color, .5s);
            text-transform: uppercase;
            text-align: left;
            font-weight: 300;
            font-size: 1.5em;
            width: 108%;
            height: 63px;
            left: 0;
            padding: 10px 0 0 70px;
            color: @white;
            margin: 0 -15px;
            position: absolute;
            span {
                font-size: 1em;
                line-height: 1.1;
                font-weight: 700;
                padding-right: 6px;
                &:after {
                    display: none;
                }
            }
            .small {
                font-size: 1em;
                color: @white;
                span {
                    padding-right: 0;
                }
            }
            strong {
                line-height: 1.5;
            }
            br {
                display: none;
            }
        }
        h3 {
            font-size: 1.6em;
            font-weight: 300;
            margin-top: 80px;
        }
    }
}

/*-----------------------------------*/
/* Media Queries
/*-----------------------------------*/

@media (min-width: @screen-sm-min) {
    .clouds {
        padding: 50px 0;
        .cloud#icon-city_cloud, .cloud#icon-county_cloud, .cloud#icon-state_cloud, .cloud#icon-federal_cloud, .cloud#icon-ngo_cloud {
            h2, h2:hover {
                background-color: transparent;
            }
        }
        .cloud {
            padding: 0 15px;
            margin-bottom: 50px;
            .cloud-icon-wrapper {
                text-align: center;
                padding: 0;
            }
            .cloud-link:hover {
                .cloud-icon:after {
                    box-shadow: 0 0 15px 5px @gray-dark;
                }
            }
            .cloud-icon {
                font-size: 11em;
                width: initial;
                height: initial;
                overflow: visible;
                left: initial;
                position: relative;
                background-color: transparent;
                &:before {
                    z-index: 200;
                    top: 0;
                    left: 0;
                    position: relative;
                }
                &:after {
                    content: '';
                    position: relative;
                    display: block;
                    margin: -14.7rem auto 0;
                    width: 14rem;
                    height: 14rem;
                    background-color: @white;
                    z-index: 100;
                    box-shadow: 0 0 0 0 @black;
                    .transition(box-shadow, .3s);
                    border-radius: 2rem;
                }
            }
            h2 {
                font-size: 1.9em;
                width: 100%;
                height: inherit;
                float: none;
                text-align: center;
                padding: 0;
                margin: 20px 0 10px;
                color: @black;
                position: relative;
                br {
                    display: block;
                }
                .small {
                    font-size: .6em;
                    color: @black;
                }
            }
            h3 {
                font-size: 2.5em;
                margin-top: 0;
            }
            .logos {
                border-top: #bdc3c7 1px solid;
                margin-top: 20px;
                img {
                    height: 85px;
                    margin: 0 auto;
                }
                .slick-list {
                    margin-top: 20px;
                    opacity: .4;
                }
            }
        }
    }
}
@media (min-width: @screen-md-min) {
    .clouds {
        .cloud {
            margin-bottom: 70px;
            .cloud-icon-wrapper {
                padding: 0 15px;
            }
            .cloud-icon {
                font-size: 16.5em;
                &:after {
                    margin: -.975em auto 0;
                    width: .95em;
                    height: .95em;
                    border-radius: 3rem;
                }
            }
            h2 {
                font-size: 2.5em;
            }
        }
    }
}
@media (min-width: @screen-lg-min) {
    .clouds {
        .cloud {
            h2 {
                font-size: 2.9em;
            }
        }
    }
}

/* ----------------------------*/
/* Cloud Overview Page         */
/* ----------------------------*/

.cloud-solutions {
    .clouds {
        @media (min-width: @screen-sm-min) {
            // bootstrap overrides
            .col-md-push-8, .col-sm-push-9 {
                left: 0;
            }
            .col-md-pull-4, .col-sm-pull-3 {
                right: initial;
            }
            .col-md-8, .col-sm-9 {
                width: 58.33333333%;
            }
            .col-md-4, .col-sm-3 {
                width: 41.66666667%;
            }
            .cloud-icon-wrapper {
                padding: 0 15px;
            }
            .cloud-icon {
                font-size: 9.6em;
                position: absolute;
                left: -2px;
                width: 121px;
                height: 123px;
                overflow: hidden;
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;
                z-index: 200;
                &:before {
                    top: -5px;
                    left: -5px;
                    position: absolute;
                }
                background-color: @white;
            }
            h2 {
                text-transform: uppercase;
                text-align: left;
                font-weight: 300;
                width: 95%;
                height: 123px;
                float: right;
                color: @white;
                margin: 0 -15px;
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;
                font-size: 1.6em;
                padding: 35px 0 0 88px;
                .small {
                    color: @white; 
                    font-size: .6em;
                }
            }
            h3 {
                font-size: 2em;
            }
            .cloud-detail {
                height: 177px;
                overflow: hidden;
                margin-top: -10px;
                padding-left: 30px;
                p {
                    .pStyle();
                }
            }
            .cloud#icon-city_cloud {
                h2 {
                    background-color: darken(@city-blue, 15%);
                    &:hover {
                        background-color: @city-blue;
                    }
                }
            }
            .cloud#icon-county_cloud {
                h2 {
                    background-color: darken(@county-yellow, 15%);
                    &:hover {
                        background-color: @county-yellow;
                    }
                }
            }
            .cloud#icon-state_cloud {
                h2 {
                    background-color: darken(@state-red, 15%);
                    &:hover {
                        background-color: @state-red;
                    }
                }
            }
            .cloud#icon-federal_cloud {
                h2 {
                    background-color: darken(@federal-blue, 15%);
                    &:hover {
                        background-color: @federal-blue;
                    }
                }
            }
            .cloud#icon-ngo_cloud {
                h2 {
                    background-color: darken(@ngo-green, 15%);
                    &:hover {
                        background-color: @ngo-green;
                    }
                }
            }
            .logos {
                display: none;
            }
        }
        @media (min-width: @screen-md-min) {
            h2 {
                font-size: 2.3em;
                padding: 25px 0 0 95px;
                .small {
                    font-size: .7em;
                }
            }
        }
    }
}

/* ----------------------------*/
/* Single Cloud Page           */
/* ----------------------------*/

.cloud.single-cloud {
    .cloud-detail {
        .button {
            display: none;
        }
    }
}
