body.data-as-a-utility {	
	font-family: 'Open Sans', sans-serif;
}
.data-as-a-utility #container {
	padding:0;
	margin-top:0;
}
.data-as-a-utility #page {
	width:100%;
	max-width:100%;
	padding-top:0;
}
.data-as-a-utility header, .data-as-a-utility footer {
	font-size:100%;
}
.data-as-a-utility .nav-item > a {
	font-weight: 400;
	font-size:14px;
}
.data-as-a-utility .nav-item .ss-icon {
	font-size:10px !important;
}
.data-as-a-utility #content li, .data-as-a-utility #content p {
	line-height: normal;
	margin-bottom:1em;
	font-size: 14px;
	letter-spacing: normal;
}

/**** hero ****/
.data-as-a-utility .hero * {
	color:#fff;
}
.data-as-a-utility .hero {
	background-color:#2980b9;
	background-image:url(../images/hero.jpg);
	background-position: center center;
	height:100vh;
	width:100%;
	position:relative;
}
.data-as-a-utility .hero blockquote {
	margin:0;
	padding:0;
	border:none;	
}
.data-as-a-utility .hero blockquote p {
	font-family: Georgia, Times, 'Times New Roman', serif;
	font-size: 18px !important;
	font-style:italic;
}
.data-as-a-utility .hero .author {
	list-style-type: none;
	margin:0;
	padding: 0;
	display:table;
}
.data-as-a-utility .hero .author li {
	vertical-align: middle;
	display:table-cell;
}
.data-as-a-utility .hero .author li:first-child {
	height:50px;
	width:50px;
	background-image:url(../images/robert.jpg);
	border-radius: 50%;
	background-size: contain;
}
.data-as-a-utility .hero .author li:last-child {
	padding:0 15px;
}
.data-as-a-utility .vertical-align {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

/**** sections ****/
.data-as-a-utility .what-can-do, .data-as-a-utility .why-socrata, .data-as-a-utility .explore, .data-as-a-utility .data-is-critical {
	padding:60px 0;
}



/* video */
.data-as-a-utility .video * {
	color:#fff;
}
.data-as-a-utility .video {
	height:600px;
	background:#222;
	position: relative;
}
/* sliders */
.data-as-a-utility .pain-points, .data-as-a-utility .personas {
	height:520px;
	background:#ecf0f1;
}
/* Data Is Critical */
.data-as-a-utility .data-is-critical h4 {
	font-weight: 600;
}
/* What Can Do */
.data-as-a-utility .what-can-do h3 {
	font-size:16px;
	margin:2em 0 1em 0;
}
.data-as-a-utility .what-can-do ul {
	list-style-type: none;
	margin:0;
	padding:0;
}
.data-as-a-utility .what-can-do li {
	color:#666;
}

/* Why Socrata */
.data-as-a-utility .why-socrata {
	background-color:#333;
}
.data-as-a-utility .why-socrata * {
	color:#ecf0f1;
}
.data-as-a-utility .why-socrata .features {
	margin:2em 0;
}
.data-as-a-utility .why-socrata .features p {
	font-size: 16px !important;
	padding-left:32px;
}
.data-as-a-utility .why-socrata .features p::before {
  content: "\f05d";
  font-family:FontAwesome;  
  position: absolute;
  left:15px;
  top:2px;
  color:#2ECC71;
  font-size: 24px;
}