body.data-as-a-utility {	
	font-family: 'Open Sans', sans-serif;
}
.data-as-a-utility #container {
	padding:0;
	margin-top:0;
}
.data-as-a-utility #page {
	width:100%;
	max-width:100%;
	padding-top:0;
}
.data-as-a-utility header, .data-as-a-utility footer {
	font-size:100%;
}
.data-as-a-utility .nav-item > a {
	font-weight: 400;
	font-size:14px;
}
.data-as-a-utility .nav-item .ss-icon {
	font-size:10px !important;
}
.data-as-a-utility .vertical-align {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

ul.jump-links {
	list-style-type: none;
	margin:0 auto;
	padding: 0;
}
.jump-links li {
	display:inline-block;
	padding:15px;
}


/* Video */
.backgroundVideo {
  z-index: 2;
  visibility: hidden;
  top:0 !important;
}
#video_container * {
	color:#fff;
}
#video_container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  z-index: 1;
  opacity: 1;
  background:#333;
}
#text * {
	color:#fff;
}
#text {
	position: absolute;
	top:0;
	left:0;
	z-index:4;
	width:100%;
	height: 100% !important;
	text-align: center;
	background-color:rgba(0, 0, 0, 0.5);
}
#text ul {
	list-style-type: none;
	margin:0;
	padding:0;
	text-align: center;
}
#text li {
	display: inline-block;
	padding:0 15px;
}
#cover_all {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  height: 100%;
  width: 100%;
}
#main-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-image: url(../images/main.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
.overlayVideo {
  position: fixed;
  left: -3000px;
  top: 0px;
  z-index: 2000;
  visibility: hidden;
}

#ex {
  position: fixed;
  right: -3000px;
  top: 32px;
  z-index: 3000;
  cursor: pointer;
  opacity: 0.8;
}
#ex span {
  font-size: 32px;
  text-shadow: 0px 0px 5px #999;
}
#ex:hover {
  opacity: 1;
}

/**** sections ****/
.data-as-a-utility .what-can-do, .data-as-a-utility .explore {
	padding:100px 0;
}

/* Data Is Critical */
.data-as-a-utility .data-is-critical {
	background-image: url(../images/water.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position:center center;
	background-size:cover;
	height: 100vh;

}
.data-as-a-utility .data-is-critical * {
	color:#fff;
}
.data-as-a-utility .data-is-critical a {
	border-bottom:#3498db dotted 1px;
}

/* What Can Do */
.data-as-a-utility .what-can-do h3 {
	margin:0 0 1em 0;
	padding-bottom:15px;
	text-transform: uppercase;
	border-bottom:#bdc3c7 solid 1px;
	font-size: 16px;
}
.data-as-a-utility .what-can-do ul {
	list-style-type: none;
	margin:0;
	padding:0;
}
.data-as-a-utility .what-can-do li {
	color:#666;
	padding-left:25px;
	position: relative;
	margin-bottom:1em;
}
.data-as-a-utility .what-can-do li::before {
  content: "\f00c";
  font-family:FontAwesome;  
  position: absolute;
  left:0;
  top:0;
  color:#95a5a6;
  font-size: 16px;
}

.data-as-a-utility .what-can-do i {
	height:80px;
	width:80px;
	background-color:#ecf0f1;
	background-repeat: no-repeat;
	margin:0 auto 15px auto;
	border-radius: 50%;
	display: block;
}
.data-as-a-utility .what-can-do .icon-life {
	background-image:url(../images/icon-life.png);
}
.data-as-a-utility .what-can-do .icon-economy{
	background-image:url(../images/icon-economy.png);
}
.data-as-a-utility .what-can-do .icon-excellence {
	background-image:url(../images/icon-excellence.png);
}

/* Explore */
.data-as-a-utility .explore ul {
	list-style-type: none;
	margin:0 auto;
	padding:0;
	text-align: center;
}
.data-as-a-utility .explore li {
	display: inline-block;
	margin-right:30px;
	padding-right:16px;
	position: relative;
}
.data-as-a-utility .explore li:last-child {
	margin-right:0;
}
.data-as-a-utility .explore li::after {
  content: "\f054";
  font-family:FontAwesome;  
  position: absolute;
  right:0;
  top:2px;
  color:#2980b9;
}


/* Slider */

.slider-container {
	height:500px;
	width:100%;
	overflow: hidden;
	background-color:#ecf0f1;
	position: relative;
}
.slider-container .row {
	margin: 0;
}
.slide.slick-slide {
	height:500px;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 0;
}
.slider {
	display:none;
}
.slide-content {
	background-color: rgba(0, 0, 0, .75);
	color: #fff;
    padding: 30px 40px;
}
.slide-content h4 {
	color: #bdc3c7;
	font-weight: 300;
}
.slide-content h3 {
	border-bottom: #fff 1px solid;
	padding-bottom: 15px;
	margin: 0 0 25px;
	font-weight: 300;
	font-size: 2.3em;
}
.slide-content p {
	color: #bdc3c7;
}

.arrowsContainer, .pain-points-arrows {
	position: relative;
}
.arrowsContainer .toggle-left, .arrowsContainer .toggle-right, .pain-points-arrows .toggle-left, .pain-points-arrows .toggle-right {
	position: absolute;
	z-index: 100;
	font-size: 25px;
	height:100px;
	width:100px;
	background:#000;
	color: #fff;
	opacity: .75;
	margin-top:200px;
	border-radius: 50%;
}
.toggle-left {
	left: -50px;
}
.toggle-right {
	right:-50px;
}
.toggle-left:hover, .toggle-right:hover {
	opacity:1;
	cursor: pointer;
}
.slick-prev {
	position: absolute;
	top:40px;
	left:60px;
	z-index: 20;
}
.slick-next {
	position: absolute;
	top:40px;
	right:60px;
	z-index: 20;
}

/* Slides */

.program-leaders {
	background-image:url(../images/uber_program_leaders.jpg);
}
.citizens {
	background-image:url(../images/uber_citizens.jpg);
}
.business {
	background-image:url(../images/uber_business.jpg);
}
.officials {
	background-image:url(../images/uber_officials.jpg);
}
.why {
	background-image:url(../images/pain_point_3.jpg);
}
.building {
	background-image:url(../images/pain_point_1.jpg);
}
.neighborhood {
	background-image:url(../images/pain_point_2.jpg);
}

/* Mobile */
@media only screen and (min-width : 1200px) {
	.data-as-a-utility #content li, .data-as-a-utility #content p {
		font-size: 16px;
		line-height: 1.5em;
	}
	.format_text h1 {
		font-size:50px;
		margin:0 0 50px 0;
	}
}
@media only screen and (max-width : 992px) {
	.format_text h1 {
		font-size:40px;
		margin:0 0 40px 0;
	}
	.data-as-a-utility #content li, .data-as-a-utility #content p {
		font-size: 15px;
		line-height: 1.5em;
	}
	.backgroundVideo {
		display: none !important;
	}
	#text li {
		display: block;
		padding:5px 15px;
	}
	.slider-container {
		height:300px;
	}
	.arrowsContainer {
		display: none;
	}
	.slide-content {
		height:300px;
	}
}

@media only screen and (max-width : 320px) {
	.format_text h1 {
		font-size:32px;
		margin:0 0 30px 0;
	}
	#data {
		height: 600px;
	}
}

