.btn {
	text-transform:uppercase;
    font-weight:$font-semi-bold;
	border-radius:1px;
    padding:10px 12px;
    outline:none !important;
}

.btn-default {
	background:$light-grey-5;
}

.btn.outline {
    background:none;
}

.btn-default.outline {
    border:2px solid white !important;
    color:white;
    font-weight:$font-semi-bold;
}

.btn-default.outline:hover {
    background:tint($primary, 10%);
}

.facetwp-per-page, .facetwp-sort {
	position: relative;
	display:inline-block;
	height:42px;
	border: $light-grey-3 solid 1px;
	border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    min-width: 100px;
    background-color:white;
	select {
		height: 42px;
        padding: 2px 30px 5px 15px;
        line-height: 1.4em;
        font-size: 14px;
        font-weight: $font-normal;
		background:transparent;
        background-image: none;
        border:0;
        border-radius: 0;
        -webkit-appearance: none;
        -webkit-border-radius: 0;
        -moz-appearance: none;
        -moz-border-radius: 0;
        outline:none;
        cursor:pointer;
	}
}
.facetwp-per-page:hover, .facetwp-sort:hover {
    background-color:$light-grey-4;
}
.facetwp-per-page:before, .facetwp-sort:before {
    font-family: fontawesome;
    content:"\f0d7"; 
    position: absolute;
    top:8px;
    right:15px;
    color:$dark-grey-2;
    font-size: 14px;
    pointer-events: none;
}
.facetwp-counts {
    display: inline-block !important;
}
.facetwp-facet {
    margin:0 !important;
}

.settings-bar {
    border-top:$light-grey-3 solid 1px;
    padding:30px 0;
    ul {
        list-style-type: none;
        margin:0;
        padding:0;
        li {
            float:left;
            font-size: 14px;
        }
        li:last-child {
            float: right;
        }
    }
}

.list-table {
    list-style-type: none;
    margin:0;
    padding:0;
    display: table;
    width:100%;
    li {
        display:table-cell;
    }
}
.results-bar {    
    button, button:active {
        outline: none !important;
        background:white !important;
        border: $light-grey-3 solid 1px !important;
        text-transform:none !important;
        color:$dark-grey-2 !important;

    }
    button:hover {
        background:$light-grey-4 !important;
    }
    button:focus {
        outline: 0;
        box-shadow: none;
    }
}
.display-settings-bar {
    border-top:$light-grey-3 solid 1px;
    padding:15px 0;
}

.filter-bar {
    list-style-type: none;
    margin:0;
    padding:0;
    @include clearfix;
    li {
        float:left;
        margin-right:5px;
    }
    li:last-child {
        float:right;
        margin:0;
    }
    .facetwp-facet {
        position: relative;
        display:inline-block;
        height:42px;
        border: $light-grey-3 solid 1px;
        border-radius: 1px;
        -webkit-border-radius: 1px;
        -moz-border-radius: 1px;
        background-color:white;
        select {
            height:42px;
            line-height: 1.4em;
            font-size: 14px;
            font-weight: $font-normal;
            background:transparent;
            background-image: none;
            border:0;
            border-radius: 0;
            -webkit-appearance: none;
            -webkit-border-radius: 0;
            -moz-appearance: none;
            -moz-border-radius: 0;
            outline:none;
            cursor:pointer;
        }
    }
    .facetwp-facet:hover {
        background-color:$light-grey-4;
    }
    .facetwp-facet:before {
        font-family: fontawesome;
        content:"\f0d7"; 
        position: absolute;
        top:8px;
        color:$dark-grey-2;
        font-size: 14px;
        pointer-events: none;
    }
}

@media only screen and (min-width : 320px) {
    .filter-bar {
        .facetwp-facet {
            width:60px;
            select {
                padding:0;
                text-indent:-9999px;
                max-width:60px;
            }
        }
        .facetwp-facet:before {
            right:10px;
        }
        .facetwp-facet-categories_dropdown:after, .facetwp-facet-product_dropdown:after, .facetwp-facet-segment_dropdown:after, .facetwp-facet-asset_type_dropdown:after, .facetwp-facet-post_type_dropdown:after, .facetwp-facet-newsroom_categories_dropdown:after, .facetwp-facet-event_categories_dropdown:after {
            font-family: fontawesome;            
            position: absolute;
            top:10px;
            left:15px;
            color:$grey;
            font-size: 16px;
            pointer-events: none;
            visibility: visible;
        }
        .facetwp-facet-product_dropdown:after {
            content:"\f0c2"; 
        }
        .facetwp-facet-segment_dropdown:after {
            content:"\f19c"; 
        }
        .facetwp-facet-categories_dropdown:after, .facetwp-facet-asset_type_dropdown:after, .facetwp-facet-post_type_dropdown:after, .facetwp-facet-newsroom_categories_dropdown:after, .facetwp-facet-event_categories_dropdown:after {
            content:"\f03a"; 
        }
    }
}

@media only screen and (min-width : 768px) {    
    .filter-bar {
        .facetwp-facet {
            width:auto;
            min-width:100px;
            select {
                padding:0 40px 0 15px;
                text-indent:0;
                max-width:150px;
            }
        }
        .facetwp-facet:before {
            right:15px;
        }
        .facetwp-facet-categories_dropdown:after, .facetwp-facet-product_dropdown:after, .facetwp-facet-segment_dropdown:after, .facetwp-facet-asset_type_dropdown:after, .facetwp-facet-post_type_dropdown:after, .facetwp-facet-newsroom_categories_dropdown:after, .facetwp-facet-event_categories_dropdown:after {
            visibility: hidden;
        }
    }
}



