.btn {
	text-transform:uppercase;
	border-radius:1px;
}

.btn-default {
	background:$light-grey-5;
}
.facetwp-per-page, .facetwp-sort {
	position: relative;
	display:inline-block;
	height:34px;
	border: $light-grey-3 solid 1px;
	border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    min-width: 100px;
    background-color:white;
	select {
		height: 34px;
        padding: 2px 30px 5px 15px;
        line-height: 1.4em;
        font-size: 14px;
        font-weight: $font-normal;
		background:transparent;
        background-image: none;
        border:0;
        border-radius: 0;
        -webkit-appearance: none;
        -webkit-border-radius: 0;
        -moz-appearance: none;
        -moz-border-radius: 0;
        outline:none;
        cursor:pointer;
	}
}
.facetwp-per-page:hover, .facetwp-sort:hover {
    background-color:$light-grey-4;
}
.facetwp-per-page:before, .facetwp-sort:before {
    font-family: fontawesome;
    content:"\f0d7"; 
    position: absolute;
    top:5px;
    right:15px;
    color:$dark-grey-2;
    font-size: 14px;
    pointer-events: none;
}
.facetwp-counts {
    display: inline-block !important;
}
.facetwp-facet {
    margin:0 !important;
}

.settings-bar {
    border-top:$light-grey-3 solid 1px;
    padding:30px 0;
    ul {
        list-style-type: none;
        margin:0;
        padding:0;
        li {
            float:left;
            font-size: 14px;
        }
        li:last-child {
            float: right;
        }
    }
}

.list-table {
    list-style-type: none;
    margin:0;
    padding:0;
    display: table;
    width:100%;
    li {
        display:table-cell;
    }
}
.results-bar {    
    button, button:active {
        outline: none !important;
        background:white !important;
        border: $light-grey-3 solid 1px !important;
        text-transform:none !important;
        color:$dark-grey-2 !important;

    }
    button:hover {
        background:$light-grey-4 !important;
    }
    button:focus {
        outline: 0;
        box-shadow: none;
    }
}
.display-settings-bar {
    border-top:$light-grey-3 solid 1px;
    padding:15px 0;
}


.facet-sidebar {
    margin-bottom:30px;
    .filter-list {
        border-left:$light-grey-4 solid 1px;
        border-right:$light-grey-4 solid 1px;
        border-bottom:$light-grey-4 solid 1px;
        background:white;
        .in {
            border-top:$light-grey-4 solid 1px;
        }
        button {
            width:100%;
            text-align: left;
            border-top:$light-grey-4 solid 1px;
            border-left:$primary solid 5px;
            border-right:none;
            border-bottom:none;
            padding:10px 30px 10px 15px;
            background-color:white;
            outline:none;
            position: relative;
            font-weight: $font-semi-bold;
            color:$dark-grey-2;
            line-height: normal;
        }
        button:before {
            font-family: icomoon;
            content:"\e91d"; 
            position: absolute;
            top:10px;
            right:14px;
            color:$dark-grey-2;
        }
        button.collapsed {
            border-left:$light-grey-4 solid 5px;
        }
        button.collapsed:before {
            font-family: icomoon;
            content:"\e91e"; 
            position: absolute;
            top:10px;
            right:14px;
            color:$dark-grey-2;               
        }
        .facetwp-toggle {
            padding:10px 30px;
            height: 40px;
        }
        .facetwp-facet {
            margin-bottom: 0;
            .facetwp-checkbox {
                background:none;
                margin-bottom: 0;
                padding:10px 30px;
                cursor: pointer;
                border-left:$light-grey-4 solid 5px;
                color:$dark-grey-1;
                position: relative;
                line-height: normal;
                height: 40px;
                .facetwp-counter {
                    display: none;
                }
            }
            .facetwp-checkbox:hover {
                border-left:$light-grey-3 solid 5px;
            }
            .checked, .checked:hover {
                border-left:$primary-alt-3 solid 5px;
            }
            .checked:before {
                font-family: icomoon;
                content:"\e90d"; 
                position: absolute;
                top:10px;
                right:15px;
                color:$grey;
                font-size: 16px;
            }
        }     
        .facetwp-type-checkboxes {
            overflow: auto;
            max-height: 600px;
        }
        .facetwp-loading {
            margin:15px auto;
        }
        .facetwp-type-slider {
            padding: 20px 15px 15px 15px;
            border-left:$light-grey-4 solid 5px;
            .facetwp-slider-label {
                font-size: 12px;
                font-weight: $font-semi-bold;
                color:$dark-grey-1;
            }
            .facetwp-slider-reset {
                border:$light-grey-3 solid 1px;
                background-color:$light-grey-5;
                border-radius: 1px;
                box-shadow: none;
                padding: 4px 8px;
                cursor: pointer;
            }
            .facetwp-slider-reset:hover {
                background-color:$light-grey-4;
            }
        }
    }
}

.filter-bar {
    list-style-type: none;
    margin:0;
    padding:0;
    @include clearfix;
    li {
        float:left;
        margin-right:5px;
    }
    li:last-child {
        float:right;
        margin:0;
    }
    .facetwp-facet {
        position: relative;
        display:inline-block;
        height:34px;
        border: $light-grey-3 solid 1px;
        border-radius: 1px;
        -webkit-border-radius: 1px;
        -moz-border-radius: 1px;
        background-color:white;
        select {
            height: 34px;
            line-height: 1.4em;
            font-size: 14px;
            font-weight: $font-normal;
            background:transparent;
            background-image: none;
            border:0;
            border-radius: 0;
            -webkit-appearance: none;
            -webkit-border-radius: 0;
            -moz-appearance: none;
            -moz-border-radius: 0;
            outline:none;
            cursor:pointer;
        }
    }
    .facetwp-facet:hover {
        background-color:$light-grey-4;
    }
    .facetwp-facet:before {
        font-family: fontawesome;
        content:"\f0d7"; 
        position: absolute;
        top:5px;
        color:$dark-grey-2;
        font-size: 14px;
        pointer-events: none;
    }
}

@media only screen and (min-width : 320px) {
    .filter-bar {
        .facetwp-facet {
            width:60px;
            select {
                padding:0;
                text-indent:-9999px;
            }
        }
        .facetwp-facet:before {
            right:10px;
        }
        .facetwp-facet-product_dropdown:after, .facetwp-facet-segment_dropdown:after, .facetwp-facet-asset_type_dropdown:after, .facetwp-facet-post_type_dropdown:after, .facetwp-facet-newsroom_categories_dropdown:after {
            font-family: fontawesome;            
            position: absolute;
            top:5px;
            left:15px;
            color:$black;
            font-size: 16px;
            pointer-events: none;
            visibility: visible;
        }
        .facetwp-facet-product_dropdown:after {
            content:"\f108"; 
        }
        .facetwp-facet-segment_dropdown:after {
            content:"\f278"; 
        }
        .facetwp-facet-asset_type_dropdown:after, .facetwp-facet-post_type_dropdown:after, .facetwp-facet-newsroom_categories_dropdown:after {
            content:"\f016"; 
        }
    }
}

@media only screen and (min-width : 768px) {    
    .filter-bar {
        .facetwp-facet {
            width:auto;
            min-width:100px;
            select {
                padding:0 40px 0 15px;
                text-indent:0;
            }
        }
        .facetwp-facet:before {
            right:15px;
        }
        .facetwp-facet-product_dropdown:after, .facetwp-facet-segment_dropdown:after, .facetwp-facet-asset_type_dropdown:after, .facetwp-facet-post_type_dropdown:after, .facetwp-facet-newsroom_categories_dropdown:after {
            visibility: hidden;
        }
    }
}

@media only screen and (min-width : 1200px) {}