.btn {
	text-transform:uppercase;
	border-radius:1px;
}

.btn-default {
	background:$light-grey-5;
}
.facetwp-per-page, .facetwp-sort {
	position: relative;
	display:inline-block;
	height:34px;
	border: $light-grey-3 solid 1px;
	border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    min-width: 100px;
	select {
		height: 34px;
        padding: 2px 30px 5px 15px;
        line-height: 1.4em;
        font-size: 14px;
        font-weight: $font-normal;
		background:transparent;
        background-image: none;
        border:0;
        border-radius: 0;
        -webkit-appearance: none;
        -webkit-border-radius: 0;
        -moz-appearance: none;
        -moz-border-radius: 0;
        outline:none;
        cursor:pointer;
	}
}
.facetwp-per-page:hover, .facetwp-sort:hover {
    background-color:$light-grey-4;
}
.facetwp-per-page:before, .facetwp-sort:before {
    font-family: fontawesome;
    content:"\f0d7"; 
    position: absolute;
    top:5px;
    right:15px;
    color:$dark-grey-2;
    font-size: 14px;
    pointer-events: none;
}
.facetwp-counts {
    display: inline-block !important;
}
.facetwp-facet {
    margin:0 !important;
}

.settings-bar {
    border-top:$light-grey-3 solid 1px;
    padding:30px 0;
    ul {
        list-style-type: none;
        margin:0;
        padding:0;
        li {
            float:left;
            font-size: 14px;
        }
        li:last-child {
            float: right;
        }
    }
}

@media only screen and (min-width : 320px) {
    .filter-bar {
        border-top:$light-grey-3 solid 1px;
        border-bottom:$light-grey-3 solid 1px;
        height: 60px;
        ul {
            list-style-type: none;
            margin:0;
            padding:0;
            li {
                height:58px;
                float:left;            
                border-left:$light-grey-3 solid 1px;
                border-right:$light-grey-3 solid 1px;
            }
            li:nth-child(even) {
                border:none;
            }
            li:last-child {
                float:right;
                border-left:$light-grey-3 solid 1px;
                border-right:$light-grey-3 solid 1px;
            }
        }
        .facetwp-type-dropdown {
            position: relative;
            display:inline-block;
            min-width: 100px;
            select {
                height: 58px;
                line-height: normal;
                font-size: 14px;
                padding:0 40px 0 15px;
                font-weight: $font-normal;
                background:transparent;
                background-image: none;
                border:0;
                border-radius: 0;
                -webkit-appearance: none;
                -webkit-border-radius: 0;
                -moz-appearance: none;
                -moz-border-radius: 0;
                outline:none;
                cursor:pointer;
            }

        }
        .facetwp-type-dropdown:before {
            font-family: fontawesome;
            content:"\f0d7"; 
            position: absolute;
            top:18px;
            right:15px;
            color:$dark-grey-2;
            font-size: 14px;
            pointer-events: none;
        }
        .facetwp-reset {
            position: relative;
            display:inline-block;
            border:none;
            padding:0 15px 0 40px;
            font-size: 14px;
            outline: none;
        }
        .facetwp-reset:hover, .facetwp-type-dropdown:hover, .fs-label:hover {
            background-color:$light-grey-4;
        }
        .facetwp-reset:before {
            font-family: fontawesome;
            content:"\f0e2"; 
            position: absolute;
            top:18px;
            left:15px;
            color:$dark-grey-2;
            font-size: 14px;
        }
        .facetwp-type-dropdown, .facetwp-reset, .fs-label {        
            height:58px;        
            background-color:$light-grey-5;
        }
        .facetwp-type-fselect {
            min-width: 60px;
            .fs-wrap {
                outline: none;
                line-height: normal;
                width:110px;
                .fs-label-wrap {
                    border: none;
                    cursor: pointer;
                    .fs-label {
                        font-size:14px;
                        padding:20px 30px 0 15px;
                    }
                    .fs-label:before {
                        font-family: fontawesome;
                        content:"\f0d7"; 
                        position: absolute;
                        top:23px;
                        right:15px;
                        color:$dark-grey-2;
                        font-size: 14px;
                    }
                    .fs-arrow {
                        display: none;
                    }
                }
                .fs-dropdown {
                    border:$light-grey-3 solid 1px;
                    box-shadow: 0 3px 5px $light-grey-2;
                    .fs-search {
                        display: none;
                    }
                    .fs-options {
                        max-height: none;
                        .fs-option-label {
                            font-size: 14px;
                        }
                        .fs-option:hover {
                            background-color:$light-grey-5;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (min-width : 480px) {}
@media only screen and (min-width : 768px) {}
@media only screen and (min-width : 992px) {
    .filter-bar {
        .facetwp-type-fselect {
            .fs-wrap {
                width:220px;
            }
        }
    }
}
@media only screen and (min-width : 1200px) {}