body {
	background-color:#159cbf !important;
}
#container {
	padding:0;
}
#page {
	width:100%;
	max-width:100%;
}
#page * {
	color:#fff;
}
#page p {
	letter-spacing: 1px !important;
	line-height: 1.5em;
	font-size:16px;
}
#page strong {
	font-weight: 600;
	color:#a6cf51;
}

/*body {	
	font-family: 'Open Sans', sans-serif;
}

#page {
	width:100%;
	max-width:100%;
	padding-top:0;
}
header, footer {
	font-size:100%;
}
.nav-item > a {
	font-weight: 400;
	font-size:14px;
}
*/

/* Mobile */
@media only screen and (min-width : 1200px) {

}
@media only screen and (max-width : 992px) {

}

@media only screen and (max-width : 320px) {

}

