.guide #nav {width: 900px;}

.guide .ctas {border:#d1d1d1 solid 1px; padding:4px; margin:3em 0 4em 0;}
.guide .ctas ul {list-style-type: none; margin:0 !important; padding:0 !important;}
.guide .ctas li {margin:0; padding:0; float:left;}
.guide .cta-button {background-image:url(../images/ctas.png); width:317px; height:60px;}
.guide .cta-middle {margin:0 4px;}
.guide .cta-briefing {background-position: 0 -60px;}
.guide .cta-feedback {background-position: 0 -120px;}
.guide .cta-download:hover {background-position: -317px 0px;}
.guide .cta-briefing:hover {background-position: -317px -60px;}
.guide .cta-feedback:hover {background-position: -317px -120px;}

.guide .cover {background:url(../images/cover-1.jpg) no-repeat bottom; height:280px; margin-bottom:2em;}
.guide .cover p {text-align: center; margin:1em auto; width:500px;}
.guide .cover .association {font-family: georgia, serif; font-style: italic; margin-bottom:50px;}