button {
    margin: 0;
    padding: 0;
    background: inherit;
    border: inherit;
    font: inherit;
    outline: none;
    width: 100%;
    display: block;
    text-align: left;
    color: #3366cc;
}
ul.accordion-panel {
	list-style-type: none;
	margin:0;
	padding: 0;
}
.accordion-panel li p {
	line-height: 1.5em;
}

[data-accordion] [data-content] {
    background: #f1f1f1;
}

[data-accordion] [data-content] {
    overflow: hidden;
    max-height: 0;
}

/* Basic Theme */

[data-accordion] {
    line-height: 1;
}

[data-control],
[data-content] > * {
    border-bottom: 1px solid #d1d1d1;
    padding: 15px;
}

[data-content] [data-accordion] {
    border: 0;
    padding: 0;
}

[data-accordion] [data-control] {
    position: relative;
    padding-right: 40px;
}

[data-accordion] > [data-control]:after {
    content: "";
    position: absolute;
    right: 10px;
    top: 16px;
    font-size: 25px;
    font-weight: 300;
    color: #444;
    height: 15px;
    width: 24px;
    background: url('../images/down.png') center center no-repeat;
    background-size: 50%;
}

[data-accordion].open > [data-control]:after {
    -webkit-transform: rotate(-180deg); 
    -ms-transform: rotate(-180deg); 
    transform: rotate(-180deg); 
}

[data-accordion].open > button {
	font-weight: 600;
}