.blog-content {width:600px; float:left; padding:20px; border:#d1d1d1 solid 1px;}
.blog #content {width:640px; float:left; border:#d1d1d1 solid 1px;}


#blog-layout {
	padding:0; 
	background:url(../images/archive-divider.png) repeat-y center;
}
.masonry article {
	float:left; 
	width:213px; 
	margin-bottom:0; 
	margin-left:0; 
	line-height:1.4em; 
	border-bottom:#d1d1d1 solid 1px;
	padding:20px;	
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}

.masonry h2 a {
	text-decoration: none;
}
.masonry .attachment-post-thumb {
	margin-bottom:1.5em;
}


#sidebar-one {float:right; width:300px; }
#sidebar-one ul {list-style-type: none}
.single .post-author img {float:left;}
.single .post-author span {float:left; margin-left:10px; padding-top:8px;}



.strip {background:#222; margin-bottom:30px; padding:2px;}
.strip p {margin:0; line-height:normal; padding:5px;}
.strip a {text-decoration:none; color:#ccc; font-weight:bold;}
.strip a:hover {color:#2361A1; text-decoration:underline;}
.strip-box {float:left; display:block; width:189px; margin:2px;}
.strip-thumb {width:189px; height:115px; background-position:center;}
.no-image-small {background:url(../images/no-image.png) center; width:189px; height:115px;}
.no-image {background:url(../images/no-image.png) no-repeat #fff; display:block; width:263px; height:175px; border:#fff solid 10px;}

.feature-image {width:600px; height:300px; background-position:center; display:block; margin-bottom:20px;}
.feature-image-container .videos {display:none;}

ul.banner-ads-125 {padding:23px 0 23px 23px; background:#e1e1e1;}
.banner-ads-125 li {float:left; margin-right:4px;}

.post-date {float:left; text-align: center; width:50px; margin:-10px 0 0 -30px; border:#fff solid 3px; line-height:normal;}
.post-date span {display:block; background:#000; color:#fff;}
.post-date .month {text-transform: uppercase; font-weight:bold; padding:2px 0; color:#fff; background:#B40404;}
.post-date .day {font-weight:bold; padding-top:2px;}
.post-date .year {padding-bottom:5px;}

/* Pagination */
.wp-pagenavi {font-size:.8em;}
.wp-pagenavi:after  { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.wp-pagenavi {padding:15px; background:#e1e1e1; zoom: 1;}
.wp-pagenavi .pages {float:right; padding:10px 10px 0 0;}
.wp-pagenavi span {border:none !important;}
.wp-pagenavi .current, .wp-pagenavi .page, .wp-pagenavi .nextpostslink, .wp-pagenavi .previouspostslink, .wp-pagenavi .last, .wp-pagenavi .extend, .wp-pagenavi .first {
	float:left; 
	display:block; 
	border:#666 solid 1px; 
	text-align:center; 
	margin-right:3px; 
	padding:4px 10px 0 10px; 
	clear:none;
}
.wp-pagenavi a {text-decoration: none; background:#666; color:#fff; font-weight:bold;}
.wp-pagenavi a:hover {background:#999;}
.wp-pagenavi .current {font-weight:bold; border:#999 solid 1px;}
.wp-pagenavi .extend {border:none;}