.ebook #content {float:none !important;}



/*-----------------------------------*/
/* TOGGLE BUTTON
/*-----------------------------------*/
.ebook .home-btn {
  position:absolute;
  top:0;
  left:150px;
  z-index: 10;
  border-radius: 3px;
}

.ebook .home-btn a {
  width:13px;
  height: 13px;
  padding: 15px 20px;
  background-image:url(../images/ico-home.png);
  background-position: 20px 15px;
}

.ebook .btn {
  position: absolute;
	top: 0;
	left: 0;
  z-index: 10;
  padding: 15px 20px;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
}
.ebook .icon {background-image: url(../images/ico-list.png); width:103px; height: 13px;}

.ebook #page nav {top:0;}
.ebook #page nav ul {list-style-type: none; margin:0 !important; padding:0 !important;}
.ebook #page nav li {margin:0 !important; padding:0;}
.ebook #page nav li li {width:300px; float:left; height:100px; overflow: hidden; font-size: .5em}

.ebook #toggle {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.ebook #nav {
  position: absolute;
  top:0;
  left:0; 
  margin: 0;
  list-style: none;
  text-align: left;
  background:#ccc;
  display: none;
}

.ebook #nav small {text-transform:uppercase; display:block; font-weight: normal;}
.ebook #nav span {display:block; color:#666; font-weight: normal;}

.ebook #nav a {
  height:100px;
  line-height: 0;
  display: none;
  border-bottom-width: 0;
  background: #f1f1f1;
  padding: 10px 20px;
  text-indent:-999em;
  color:#222;
  text-decoration: none;
  font-weight: bold;
}

.ebook #toggle:checked ~ nav #nav {
  z-index: 101;
  position:absolute;
  top:50px;
  right:0;
 -webkit-box-shadow: 0px 3px 10px 3px #777;
     -moz-box-shadow: 0px 3px 10px 3px #777;
      -ms-box-shadow: 0px 3px 10px 3px #777;
       -o-box-shadow: 0px 3px 10px 3px #777;
          box-shadow: 0px 3px 10px 3px #777;
  border:#d1d1d1 solid 4px;
  background:#f1f1f1;
  display: block;
}

.ebook #toggle:checked ~ nav #nav a {
  line-height: normal;
  position: relative;
  z-index: 1;
  text-indent:0;
  display: block;
}
	
.ebook #toggle:checked ~ nav #nav a:hover {
  background: #ddd;
}

.ebook #toggle:checked ~ nav #nav #close {
  position: relative;
  z-index: 0;
}

.ebook #toggle:checked ~ nav #nav #close label {
  background: transparent;
  border-bottom: 0;
  position: absolute;
  top: -101em;
  bottom: -101em;
  left: 0;
  right: 0;
  z-index: 0;
}



.ebook section {clear: both;}



.ebook article {
  width:33%; 
  height:250px; 
  float:left; 
  overflow: hidden; 
  border-bottom:#d1d1d1 solid 1px;
  font-size: .8em;
  line-height: normal;
}


.ebook .wrapper p {margin: 0;}
.ebook .wrapper a img {margin-bottom:1em;}
.ebook .wrapper .chapter-name {font-family: "adobe-caslon-pro",serif; text-transform: uppercase; margin-bottom:.5em; letter-spacing: 3px; padding:0; font-size:.85em;}
.ebook .wrapper h3 a {
  text-decoration: none; 
  color:#222;
}
.ebook .wrapper h3 a:hover {color:#2361A1;}
.ebook a.more {text-decoration: none; padding:10px 0 0 0; display: inline-block;}

.ebook .begin {text-align: center; }
.ebook .chapter-name {font-family: "adobe-caslon-pro",serif; text-transform: uppercase; margin:0; padding:50px 0 10px 0; letter-spacing: 3px;}
.ebook .toplink {text-decoration: none; float:right; font-size: .8em}

/* Chapter Table of Contents */
.ebook .chapter-contents {padding:0 20px; font-size:.8em;}
.ebook .chapter-contents h3 { border-bottom:#d1d1d1 dotted 1px; padding-bottom:5px; padding-top:20px;}
.ebook .chapter-contents ul {list-style-type: none; margin:0 !important; padding:0;}
.ebook .chapter-contents li {line-height: normal; font-weight: bold;}
.ebook .chapter-contents ol ul li {font-weight:normal;}
.ebook .chapter-contents li a {text-decoration: none; display:inline-block; margin-bottom:.8em;}
.ebook .chapter-contents li a:hover {text-decoration: underline;}

.ebook .toolkit-cta {padding:0; border-top:#d1d1d1 solid 1px; border-bottom:#d1d1d1 solid 1px; margin-bottom:1.571em; background:url(../images/ico-download.png) no-repeat 20px 15px #b2e7fa;}
.ebook .toolkit-cta p {margin:0; padding:20px 10px 20px 50px; line-height: normal; border-top:#fff solid 2px; border-bottom:#fff solid 2px;}
.ebook .toolkit-cta a {font-weight: bold; text-decoration: none;}
.ebook .toolkit-cta a:hover {text-decoration: underline;}

.ebook .social-links ul {list-style-type: none; margin: 0 !important; padding:0 !important;}
.ebook .social-links li {float:left; margin-right: 15px;}
.ebook .social-links li a {float:left; clear: both; margin:0 0 3px 0;}

/* Table Styles */
.ebook table {width:100%; margin-bottom:1.5em;}
.ebook th {background:#333; color:#fff; text-align:left; padding:10px; line-height: normal; border:none; white-space: nowrap;}
.ebook tr {border-top:#fff solid 1px; border-bottom:#d1d1d1 solid 1px;}
.ebook td {background:#f4f4f4; line-height: normal; padding: 10px; vertical-align:text-top; border:none;}
.ebook td li {margin-bottom:.8em;}
