/* Mondara */
.mondara .video {border:#d1d1d1 solid 1px;}
.mondara .video-shadow {background:url(../images/mondara/shadow.png) no-repeat center; height:16px; margin-bottom:2em;  }
.mondara .block {padding:70px 50px 450px 50px ; text-align:center; margin:1em 0; display:block; background-position:bottom; background-repeat:no-repeat;}
.mondara .file-formats {background-image:url(../images/mondara/file-formats.jpg); background-color:#292f4f;}
.mondara .file-formats h2, .mondara .file-formats p {color:#fff;}
.mondara .embed {background-image:url(../images/mondara/embed.jpg);}
.mondara .discovery {background-image:url(../images/mondara/discovery.jpg); background-color:#333; color:#fff;}
.mondara .api {background-image:url(../images/mondara/api.jpg); background-color:#b97203;}
.mondara .api h2, .mondara .api p {color:#fff;}

.mondara .discovery h2, .mondara .discovery p {color:#fff;}
.mondara .maps {background-image:url(../images/mondara/maps.jpg);}
.mondara .sidebar {background:#f3f4f6; padding:15px; border:#d1d1d1 solid 1px;}
.mondara .cloud-power {background:url(../images/custom/cloud-power.png) no-repeat center; display:block; height:109px; margin:3em 0;}

.mondara .drag-cloud {display:block; height:300px; width:446px; background:url(../images/mondara/drag-cloud.jpg) no-repeat;}
.mondara .socrata-cloud {display:block; height:300px; width:446px; background:url(../images/mondara/socrata-cloud.jpg) no-repeat;}
.mondara .offer {background-color:#f3f4f6; border:#d1d1d1 solid 1px; padding:20px; margin-bottom:3em; color:#606063;
}
.mondara .offer h3 {font-family: Arial, Helvetica, sans-serif;}
.mondara .offer span {font-size:24px;}
.mondara .divider {background-image:url(../images/mondara/divider.png); background-repeat: repeat-y;}
.mondara .introductory {padding-left:60px; background:url(../images/mondara/icon-sale.png) no-repeat;}
.mondara .home-video table {margin:0 auto 3em auto;}
.mondara .home-video td {vertical-align: top; border:none !important; padding:0 20px; width:152px; text-align:left;}
.mondara .home-video p {line-height:normal;}
.mondara .home-video img {border:#d1d1d1 solid 1px;}
