.team-box {width:194px; height: 194px; display:block; overflow: hidden; float:left;}
.team-thumb {background:url(../images/smiley.jpg);}
ul.team-meta {padding:20px !important; margin:0 !important; list-style-type: none; line-height: normal;}
.team-meta {padding:0; margin:0;}

.team-name {font-weight: bold; font-size:14px !important; letter-spacing: -1px;}
.team-title {font-style: italic; font-size:12px !important;}
.team-school {font-style: italic; font-size:12px !important; margin-bottom:10px;}
.team-quote {font-family:Georgia,Serif; font-style: italic;}
.team-apply {background:url(../images/apply.png); width:194px; height:194px;}

.team-job-container {float:left; width:323px; margin-bottom:1em;}
.team-job {padding:15px;}