body {
	font-family: 'Lato', sans-serif;
	color:$gray-dark;
	background-color:$gray-dark;
}
.main {
	padding:60px 0 0 0 !important;
	width:100% !important;
	float:none !important;
	background-color:white;
}

// Custom Icons
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?f28305');
	src:url('../fonts/icomoon.eot?f28305#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?f28305') format('truetype'),
		url('../fonts/icomoon.woff?f28305') format('woff'),
		url('../fonts/icomoon.svg?f28305#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-dollar:before {
	content: "\e802";
}
.icon-guest:before {
	content: "\e803";
}
.icon-administrator:before {
	content: "\e804";
}
.icon-user:before {
	content: "\e805";
}
.icon-police:before {
	content: "\e806";
}
.icon-map:before {
	content: "\e800";
}
.icon-state:before {
	content: "\e801";
}
.icon-city-hall:before {
	content: "\e601";
}
.icon-city:before {
	content: "\e602";
}
.icon-people:before {
	content: "\e603";
}
.icon-flag:before {
	content: "\e604";
}
.icon-star:before {
	content: "\e605";
}
.icon-capital:before {
	content: "\e606";
}
.icon-manager:before {
	content: "\e600";
}



// Background Colors
.background-turquoise {
	background-color:$turquoise;
}
.background-green-sea {
	background-color:$green-sea;
}
.background-emerald {
	background-color:$emerald;
}
.background-nephritis {
	background-color:$nephritis;
}
.background-peter-river {
	background-color:$peter-river;
}
.background-belize-hole {
	background-color:$belize-hole;
}
.background-amethyst {
	background-color:$amethyst;
}
.background-wisteria {
	background-color:$wisteria;
}
.background-wet-asphalt {
	background-color:$wet-asphalt;
}
.background-midnight-blue {
	background-color:$midnight-blue;
}
.background-orange {
	background-color:$orange;
}
.background-carrot {
	background-color:$carrot;
}
.background-pumpkin {
	background-color:$pumpkin;
}
.background-alizarin {
	background-color:$alizarin;
}
.background-pomegranate {
	background-color:$pomegranate;
}
.background-silver {
	background-color:$silver;
}
.background-concrete {
	background-color:$concrete;
}
.background-asbestos {
	background-color:$asbestos;
}
.background-clouds {
	background-color:$clouds;
}	
.background-sun-flower {
	background-color:$sun-flower;
}
.background-gray-dark {
	background-color:$gray-dark;
}
.background-white {
	background-color:white;
}

@media only screen and (min-width : 320px) {

	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	    font-family: inherit;
	    font-weight: $font-normal;
	    line-height: normal;
	    color: $midnight-blue;
	    margin:30px 0;
	}
	h1 {
		font-size:24px;
		letter-spacing:-1px;
		font-weight: $font-bold;
	}
	h2 {
		font-size:20px;
		font-weight: $font-bold;
	}
	h3 {
		font-size:18px;
	}
	h4 {
		font-size:18px;
	}
	h5 {
		font-size:16px;
	}
	p, li {
		color:#666;
		font-weight:$font-light;
		font-size: 14px;
		line-height: 1.25em;
	}
	p {
		margin-bottom:1.63em;
	}
	ul, ol {
		padding-left:20px;
	}
	a {
		color:$peter-river;
	}
	hr {
	    border-top: 5px solid $clouds;
	}
	a:hover {
		color:$belize-hole;
		text-decoration:none;
	}
	.btn {
		border:none;
		border-radius:0;
	}
	.section-padding {
		padding:80px 0;
	}
	.page-padding {
		padding-top:50px;
	}

	/* NO Gutters */
	.row.no-gutters {
	  margin-right: 0;
	  margin-left: 0;

	  & > [class^="col-"],
	  & > [class*=" col-"] {
	    padding-right: 0;
	    padding-left: 0;
	  }
	}
	/* Category Nav */
	.category-nav {
		list-style-type:none;
		margin:0 0 2em 0;
		padding:0;
		h5 {
			margin:0;
			font-size: 16px;
			text-transform: uppercase;
			padding:10px;
			background-color:$asbestos;
			color:white;
		}
		ul {
			list-style-type: none;
			margin:0;
			padding:0;
			li {
				border-bottom:lighten($silver, 10%) solid 1px;
			}
			li:last-child {
				border:none;
			}
			a {
				padding:5px 10px;
				display: block;
			}
			a:hover {
				background-color:$clouds;
			}
		}
	}
	/* Cards */
	.card {
		position: relative;
		border:#e3e3e3 solid 1px;
		background-color:white;
		overflow: hidden;
		.card-banner {
			position: absolute;
			top:0;
			left:0;
			z-index: 10;
			width:100%;
			color:white;
			padding:10px 15px;
			text-transform: uppercase;
			font-weight: $font-normal;
			font-size:13px;
		}		
		.card-meta {
			font-size: 13px;
			padding:10px 0;
			display: block;
		}
		.card-image {
			position: relative;
			.card-avatar {
				position: absolute;
				bottom:-30px;
				left:0;
				width:100%;
				text-align: center;
				z-index: 10;
				pointer-events: none;
				.avatar {
					border:white solid 2px;
				}
			}
			a {
				position: absolute;
				top:0;
				left:0;
				height: 100%;
				width: 100%;
				z-index: 5;
			}
		}
		.card-text {
			padding:40px 20px 20px 20px;
			h4 {
				margin:0;
			}
			a {
				color:$midnight-blue;
			}
			a:hover {
				text-decoration: underline;
			}
			p {
				font-size:15px;
				line-height: 1.3em;
			}
		}
		.padding-fallback {
			height:20px;
			width:100%;
			position: absolute;
			bottom:0;
			left:0;
			background:white;
		}
		.event-categories {
			display: block;
			margin-bottom:15px;
			a {
				background-color:$silver;
				font-size:11px;
				text-transform: uppercase;
				color:white;
				padding:5px;
			}
			a:hover {
				text-decoration: none;
			}
		}
	}
	/* Check Mark List */
	ul.check-mark-list {
		list-style-type: none;
		margin:0;
		padding:0;
		li {
			padding:10px 10px 10px 32px;
			margin-bottom:5px;
			position: relative;
		}
		li:before {
			font-family: fontawesome;
			content:"\f058";
			position: absolute;
			top:10px;
			left:0px;
			color:$nephritis;
			font-size: 24px;
		}
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {	

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	h1 {
		font-size:36px;
		letter-spacing:-1px;
		font-weight: $font-bold;
	}
	h2 {
		font-size:28px;
		font-weight: $font-bold;
	}
	p, li {
		font-size: 16px;
	}

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	h1 {
		font-size:50px;
		letter-spacing:-1px;
		font-weight: $font-bold;
	}
	h2 {
		font-size:40px;
		font-weight: $font-bold;
	}
	h3 {
		font-size:32px;
	}
	h4 {
		font-size:20px;
	}
	h5 {
		font-size:18px;
	}
}



