body {
  font-family: 'Open Sans', sans-serif;
  color: @socrata-black;
}
html {
  overflow-y:scroll;
  height: 100%;
}
.main {
  padding-left:0 !important;
  padding-right:0 !important;
  padding-top:50px;
  padding-bottom:50px;
}
.page-template-template-full-width .main {
  padding-top:0;
  padding-bottom:0;
}
.wrap {
	padding-top:60px;
}
.row {
  margin-left:0 !important;
  margin-right:0 !important;
}
h1, h2, h3, h4, h5 {
  font-weight: @font-medium;
}
a:hover {
  text-decoration:none;
}

p {
  font-size: 15px;
}

.transition(@attr, @time) {
   -webkit-transition: @attr @time;
   -moz-transition: @attr @time;
   -ms-transition: @attr @time;
   -o-transition: @attr @time;
   transition: @attr @time;
}

.transition2(@attr1, @attr2, @time) {
   -webkit-transition: @attr1 @time, @attr2 @time;
   -moz-transition: @attr1 @time, @attr2 @time;
   -ms-transition: @attr1 @time, @attr2 @time;
   -o-transition: @attr1 @time, @attr2 @time;
   transition: @attr1 @time, @attr2 @time;
}
.red {
  color: @socrata-red;
}
.yellow {
  color: @socrata-yellow;
}
.green {
  color: @socrata-green;
}

.icon-city_cloud {
  color: @city-blue;
}
.icon-county_cloud {
  color: @county-yellow;
}
.icon-state_cloud {
  color: @state-red;
}
.icon-federal_cloud {
  color: @federal-blue;
}
.icon-ngo_cloud {
  color: @ngo-green;
}
