// Grid settings
@main-sm-columns:       @grid-columns;
@sidebar-sm-columns:    4;

// Color swatches
@socrata-blue:                #3366cc;
@socrata-red:                 #f80236;
@socrata-yellow:              #fb9b05;
@socrata-green:               #29d25d;
@socrata-black:               #111111;
@city-blue:                   #28b0ef;
@county-yellow:               #fa9f33;
@state-red:                   #ac2f2f;
@federal-blue:                #284989;
@ngo-green:                   #3ca65d;

// Grays
@gray-dark:                     #222222;
@gray-darker:                   #2a3032;
@gray-med:                      darken(#CCC, 35%);
@gray-lighter:                  #f4f4f4;
@gray-light:                    #bdc3c7;
@white:                         white;
@black:                         black;

// Brand Colors

@btn-primary-color:             #fff;
@btn-primary-bg:                @socrata-blue;

// Font Weight
@font-light:                    300;
@font-medium:                   400;
@font-bold:                     600;

// semantic use

@cta-icons:                     @city-blue;
