.open-data-action-leading-governments-measure-performance #govstat-header {
  background-image: url(council.jpg);
}
.open-data-cx-creating-great-citizen-experience #govstat-header {  
  background-image: url(raleigh.jpg);
}
.connected-performance-live #govstat-header {  
  background-image: url(background.jpg);
}
.hard-copy-is-history #govstat-header {  
  background-image: url(salmon.jpg);
}
.lessons-from-experts #govstat-header {  
  background-image: url(people.jpg);
}
.use-311-data-to-make-better-decisions #govstat-header {  
  background-image: url(311.jpg);
}
.how-to-comply-with-the-federal-open-data-policy #govstat-header {  
  background-image: url(whitehouse.jpg);
}
.use-socrata-open-data-connector-microsoft-office-365 #govstat-header {  
  background-image: url(cloud.jpg);
}
.financial-transparency-apps-government-expenditure-budget-management #govstat-header, .socrata-open-budget-closer-look #govstat-header, .financial-transparency-webinar-montgomery-county-finances #govstat-header {
  background-image: url(money.jpg);
}
.financial-transparency-trailblazers-new-york-city-boston #govstat-header {
  background-image: url(ny-finance.jpg);
}
.organization-ready-performance-measurement #govstat-header, .three-building-blocks-performance-measurement #govstat-header {
  background-image: url(performance-measurement-webinar-on-demand.jpg);
  background-position: top center !important;
}
.how-do-you-hackathon-gocode-colorado #govstat-header, .how-do-you-hackathon-open-austin #govstat-header {
  background-image: url(how-to-hackathon-webinar-hero3.jpg);
}
.employee-hackathon-saved-alameda-county-500000 #govstat-header {
  background-image: url(alameda-county-apps-challenge-2014.jpg);
}

.pioneering-government-transparency-open-data #govstat-header {
  background-image: url(Intersection-in-Bethesda-Maryland-CC-Flickr-Andrew-Bossi.jpg);
}

ul.countdown {
  margin: auto;
  padding: 0;
  text-align: center;
}
ul.countdown li{
  background-color: #222;
  border: 2px solid #fff;
  color: #fff;
  display: inline-block;
  text-align: center;
  width: 100px;
  border-radius: 6px;
  box-shadow: 0 0 3px #777;
  padding:10px;
  margin:0 5px;
}
ul.countdown span {
  padding-left: 5px;
  font-size: 36px !important;
  font-weight: bold;
  padding:10px;
  display:block;
  letter-spacing: 5px;
}
ul.countdown  p.timeRefDays, ul.countdown  p.timeRefHours, ul.countdown  p.timeRefMinutes, ul.countdown  p.timeRefSeconds{
  font: normal normal 12px Arial !important;
  letter-spacing: 0;
  margin: 0;
  color:#fff;
  text-transform: uppercase;
}

body.splash {background:#fff;}
body.splash header, body.splash footer {display:none !important;}
.splash #govstat-header {
	width:100%; 
	position: absolute;
	height:400px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	display:table;
}
body.splash #container {
  margin: 0 !important;
}


.splash #page {width:90%; max-width:1280px; padding:0; position: relative; background:none !important;}
.splash #content_box {position: absolute; top:300px; padding:30px; background:#fff !important; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}

.splash #govstat-header .wrapper {
	width:100%;
	height:100%;
	background:url(texture.png);
	color:#fff;
	display:table-cell;
	vertical-align: middle;
}

.splash #govstat-header .wrapper h1 { 
  color:#fff; 
  text-shadow: 0px 1px 1px #222; 
  background:url(logo.png) no-repeat top center; 
  padding-top:60px; 
  margin-top:-40px; 
  width:90%; 
  max-width:1280px; 
  margin-left:auto; 
  margin-right:auto;
}

.splash .headline span {display:block; font-size:.7em;}
.splash .embed-container {
    position: relative;
    padding-bottom: 56.5%; /* 16/9 ratio */
    height: 0;
    overflow: hidden;
}
.splash .embed-container iframe,
.splash .embed-container object,
.splash .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.splash .stream {margin-bottom:50px; box-shadow: 0px 1px 15px #999;}
.splash h2 small {display:block; font-size:.7em;}
.splash .govstat-cta {padding:30px;}