/********************
 * ABOUT INTERACTIVE UI *
 ********************/

/* Rounded Corners */
#options-panel ul li, .main-link, .publishers-link, .consumers-link
{
	border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	webkit-border-radius: 0.3em;
}

/* MAIN CONTAINER */
#about-interactive
{
	background: url(../images/about-interactive/container-bg.png) no-repeat;
	height: 600px;
	margin: 0 auto;
	width: 955px;
	line-height:normal !important;
}
#about-interactive h2
{
	background: url(../images/about-interactive/title.png) no-repeat;
	height: 33px;
	position: relative;
	left: 27px;
	top: 15px;
	text-align: left;
	text-indent: -9999px;
	width: 309px;
}
#interactive-tabs
{
	font-size: 70%;
	height: 500px;
	margin: 0 auto;
	position: relative;
	top: 25px;
	width: 930px;
}
#interactive-tabs .tabContainer
{
    display: none;
	height:448px;
    position: absolute;
}

/* SECTION TABS */
#interactive-tabs .publishers
{
	background: url(../images/about-interactive/publishers-title-wide.png) no-repeat center top;
}
#interactive-tabs .consumers
{
	background: url(../images/about-interactive/consumers-title-wide.png) no-repeat center top;
}
.left-panel, .right-panel
{
	float: left;
	width: 48%;
}

#interactive-tabs .close-button
{
	background: url(../images/about-interactive/close-button.png) no-repeat right;
	color: #BBB;
	cursor: pointer;
	float: right;
	position: absolute;
	top: 10px;
	right: 10px;
	text-align: left;
	text-indent: -9999px;
	text-decoration:none;	
	width: 40px;
}
#interactive-tabs .close-button:hover
{
	text-indent: -5px;
}
/* Slideshow framework and controls */
.gallery
{
	background: url(../images/about-interactive/ui-tabs-panel-bg.png) no-repeat center top;
	height: 410px;
	margin: 0 auto;
	position: relative;
	text-align: center;
	top: 50px;
	width: 925px;
}
.gallery-container
{
	height: 350px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	text-align: left;
	width: 890px;
}
.slideInner
{
    width: 10000px;
}
.gallery-item
{
    float: left;
	height: 350px;
	margin: 0 auto;
	position: relative;
	top: 15px;
	left: 10px;
	width: 890px;
}
.pager-control
{
    display: inline-block;
	height: 25px;
	margin: 0;
}
.pager-control .control
{
	background: url(../images/about-interactive/arrow-button-sprites.png) no-repeat;
	cursor: pointer;
	display: block;
	float: left;
	height: 25px;
	text-align: left;
	text-indent: -10000px;
	width: 25px;
}
.pager-control .leftControl
{
	background-position: 0 -75px;
	float: left;
	left: 0;
}
.pager-control .rightControl
{
	background-position: 0 -50px;
	float: left;
	right: 0;
}
.pager-control .leftControl.disabled
{
	background-position: 0 -1px;
	cursor: default;
}
.pager-control .rightControl.disabled
{
	background-position: 0 -25px;
	cursor: default;
}
.pager-control .pagebuttonContainer
{
    display: block;
    float: left;
	margin: auto;
	position: relative;
	top: 5px;
}
.pager-control .pagebutton
{
	background:transparent url(../images/about-interactive/paging-sprites.png) no-repeat;
	display: block;
	float: left;
	margin: 0.3em;
	height: 10px;
	width: 10px;
}
.pager-control .pagebutton.selected
{
	background-position: -10px 0px;
}

.gallery-item .left-panel
{
	font-size: 1.3em;
}
.gallery-item .left-panel p, .gallery-item .left-panel li
{
	line-height: 1.5em;
}
.gallery-item .right-panel
{
	float: right;
	margin-top: -5em;
}
.gallery-item ul
{
	position: relative;
	left: 2em;
	margin-top: 1em;
	list-style: disc;
}
/* Gallery Title */
.gallery-item h3
{
	background: url(../images/about-interactive/icon-sprites.png) no-repeat left center;
	font-size: 2em;
	font-weight: normal;
	height: 40px;
	margin-bottom: 1em;
	padding-left: 40px;
	width: 48%;
}
.gallery-item h3 span
{
	color: #777;
}
h3.collaborate { background-position: 0 0; }
h3.measure { background-position: 0 -40px; }
h3.manage { background-position: 0 -80px; }
h3.publish { background-position: 0 -120px; }
h3.discover { background-position: 0 -160px; }
h3.analyze { background-position: 0 -200px; }
h3.participate { background-position: 0 -238px; }
h3.create { background-position: 0 -280px; }
h3.main { background-position: 0 -320px; }

/* Screenshot */
.gallery-item .right-panel img
{
	text-align: right;
}
.caption
{
	background: url(../images/about-interactive/caption-bg.png) no-repeat;
	display: table;
	height: 89px;
	margin: 0 auto;
	position: absolute;
	top: 100px;
	right: 100px;
	width: 220px;
	z-index: 20;;
}
.caption p
{
	display: table-cell;
	font-size: 1.3em;
	line-height: 1.4em;
	padding: 0.5em 0.8em 2em;
/*	text-align: center;*/
	vertical-align: middle;
}


/* NAVIGATION */
ul.mainTabs
{
	list-style:none;
	margin-left: 0;
	position: absolute;
	left: 0;
	bottom: 0;
}
.main-link, .publishers-link, .consumers-link
{
	border: solid 1px transparent;
	border-bottom: solid 2px transparent;
	float: left;
	margin: 0 0.2em;
}
.main-link:hover, .main-link.ui-tabs-selected, .publishers-link:hover, .publishers-link.ui-tabs-selected,.consumers-link:hover, .consumers-link.ui-tabs-selected
{
	border: solid 1px #FFF;
	border-bottom: solid 2px #FFF;
    -moz-box-shadow:#BBB 0px 0px 3px inset;
    -webkit-box-shadow:#BBB 0px 0px 3px inset;
    -o-box-shadow:#BBB 0px 0px 3px inset;
    box-shadow:#BBB 0px 0px 3px inset;
}
.main-link:hover, .main-link.ui-tabs-selected
{
	background: url(../images/about-interactive/nav-button-bg.png) repeat-x bottom;
}
.publishers-link:hover, .publishers-link.ui-tabs-selected
{
	background: url(../images/about-interactive/nav-button-publishers-bg.png) repeat-x bottom;
}
.consumers-link:hover, .consumers-link.ui-tabs-selected
{
	background: url(../images/about-interactive/nav-button-consumers-bg.png) repeat-x bottom;
}
.mainTabs li a
{
    background: url(../images/about-interactive/nav-buttons-sprites-off.png) no-repeat;
	float: left;
	height: 25px;
	margin: 0 auto;
	text-align: left;
	text-indent: -9999px;
	width: 95px;
}
.mainTabs li a.selected
{
	background: url(../images/about-interactive/nav-buttons-sprites-on.png) no-repeat;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 0.2em;
	-webkit-border-radius: 0.2em;
	-moz-border-radius: 0.2em;
    -moz-box-shadow:#444 0px 0px 3px inset;
    -webkit-box-shadow:#444 0px 0px 3px inset;
    -o-box-shadow:#444 0px 0px 3px inset;
    box-shadow:#444 0px 0px 3px inset;
}
.mainTabs li a.selected:hover
{
    -moz-box-shadow:#333 0px 0px 3px inset;
    -webkit-box-shadow:#333 0px 0px 3px inset;
    -o-box-shadow:#333 0px 0px 3px inset;
    box-shadow:#333 0px 0px 3px inset;
}

#interactive-tabs .mainTabs .collaborate-link a { background-position: 0 0; }
#interactive-tabs .mainTabs .measure-link a { background-position: 0 -25px; }
#interactive-tabs .mainTabs .manage-link a { background-position: 0 -50px; }
#interactive-tabs .mainTabs .publish-link a { background-position: 0 -75px; }
#interactive-tabs .mainTabs .discover-link a { background-position: 0 -125px; }
#interactive-tabs .mainTabs .analyze-link a { background-position: 0 -150px; }
#interactive-tabs .mainTabs .participate-link a { background-position: 0 -175px; }
#interactive-tabs .mainTabs .create-link a { background-position: 0 -200px; }
#interactive-tabs .mainTabs .main-link a { background-position: 0 -100px; }

/*SPECIFIC TABS*/

/*Options Panel*/
#interactive-tabs .main-tab
{
	background: none;
}
#options-panel
{
	position: relative;
	left: 15px;
}
#options-panel .right-panel
{
	float: right;
	margin-right: 30px;
}
#options-panel h3
{
	padding-top: 46px;
	text-align: left;
	text-indent: -9999px;
}
#options-panel h4
{
	color: #797979;
	font-family:Arial,sans-serif;
	font-size: 1.35em;
	letter-spacing: 0.01em;
	margin-top: -0.7em;
	text-align: center;
}
#options-panel ul
{
	margin: 3em 2em 0;
}
.publishers-panel h3
{
	background: url(../images/about-interactive/publishers-title.png) no-repeat left top;
}
.consumers-panel h3
{
	background: url(../images/about-interactive/consumers-title.png) no-repeat right top;
}
.consumers-panel ul li
{
	float: right;
}
#options-panel ul li
{
	background: url(../images/about-interactive/featured-icons-sprite.png) no-repeat;
	border: solid 1px transparent;
	color: #555;
	cursor: pointer;
	display: block;
	font-size: 1.3em;
	font-family: Arial, Helvetica, sans-serif;
	height: 70px;
	letter-spacing: 0.01em;
	list-style: none;
	width: 260px;
	padding-left: 60px;
}
#options-panel ul li:hover
{
	background-color: #FFF;
	border: solid 1px #F9F9F9;
    -moz-box-shadow:#999 0px 0px 3px inset;
    -webkit-box-shadow:#999 0px 0px 3px inset;
    -o-box-shadow:#999 0px 0px 3px inset;
    box-shadow:#999 0px 0px 3px inset;
}
#options-panel ul li.publish{	background-position: 0 0;}
#options-panel ul li.manage{	background-position: 0 -70px;}
#options-panel ul li.measure{	background-position: 0 -140px;}
#options-panel ul li.collaborate{	background-position: 0 -210px;}
#options-panel ul li.discover{	background-position: right -280px;}
#options-panel ul li.analyze{	background-position: right -350px;}
#options-panel ul li.participate{	background-position: right -420px;}
#options-panel ul li.create{	background-position: right -490px;}

#options-panel ul li strong
{
	color: #000;
	display: block;
	font-size: 1.3em;
	font-weight: normal;
	margin-top: 0.8em;
}
#options-panel ul li.measure strong
{
	margin-top: 0;
}
#options-panel ul li.discover, #options-panel ul li.analyze, #options-panel ul li.participate, #options-panel ul li.create
{
	text-align: right;
	padding-left: 0;
	padding-right: 60px;
}
