#video-wrapper {
	height:576px;
	width:970px;
	background:#000;
	position: relative;
	margin-bottom:4em;

}
#trigger {
	position: relative;
}

#trigger a {
	height:576px;
	width:970px;
	position: absolute;
}