body.request-a-demo, body.request-a-demo-thank-you {
	background-color:#ecf0f1 !important;
}
.request-a-demo #container, .request-a-demo-thank-you #container {
	padding:0;
}
.request-a-demo #page, .request-a-demo-thank-you #page {
	width:100%;
	max-width:100%;
	padding:0;
}
.request-a-demo #page p, .request-a-demo-thank-you #page p {
	letter-spacing: 1px !important;
	line-height: 1.5em;
}
.section-padding {
	padding:80px 0;
}
.asbestos {
	background-color:#7f8c8d;
}
.asbestos * {
	color:white;
}
.quotes {
	background-image: url(../images/chat.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center bottom;
}
.quotes p {
	font-size: 18px;
	font-weight: 400;
}
.quotes span {
	font-style: italic;
	color:#f1c40f;
}
.highlights ul {
	list-style-type: none;
	margin: 0 0 1.63em;
	padding: 0;
}

.highlights li {
	position: relative;
	padding:15px 15px 15px 35px ;
	margin-bottom:3px;
	background:#e3e3e3;
	border-radius: 5px;
}
.highlights li:before {
	position: absolute;
	font-family: 'FontAwesome';
	color:#27ae60;
	font-size: 16px;
	top:15px;
	left:15px;
	content: "\f054";
}
.hero {
	background-image: url(../images/background.jpg);
	background-size: contain;
	background-repeat: repeat-x;
	background-color: #3498db;
	background-position: bottom;
}
.hero * {
	color:white;
}
.hero h1 {
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: normal;
}