.clouds {
  padding: 40px 0;
  > .container {
    padding-right: 0;
    padding-left: 0;
  }
  .col-sm-12 {
    padding-right: 0;
    padding-left: 0;
  }
  .cloud {
    padding: 30px 0;
    .cloud-icon {
      font-size: 7em;
    }
    h2 {
      text-transform: uppercase;
      text-align: left;
      font-weight: 300;
      font-size: 2em;
      width: 60%;
      float: right;
      span {
        font-size: 1em;
        line-height: 1.3;
        font-weight: 700;
        &:after {
          display: none;
        }
      }
      .small {
        font-size: .6em;
        color: @black;
      }
      strong {
        line-height: 1.5;
      }
    }
    h3 {
      font-size: 1.8em;
      font-weight: 300;
    }
    .logos {
      border-top: #bdc3c7 1px solid;
      padding-top: 15px;
      margin-top: 25px;
      opacity: .4;
      .slide {
        margin-top: 20px;
      }
      img {
        height: 50px;
        margin: 0 auto;
      }
    }
  }
}

@media (min-width: @screen-sm-min) {
  .clouds {
    > .container {
      padding-right: 15px;
      padding-left: 15px;
    }
    .col-sm-12 {
      padding-right: 15px;
      padding-left: 15px;
    }
    .cloud {
      padding: 60px 15px;
      h2 {
        font-size: 2em;
        width: 100%;
        float: none;
        text-align: center;
      }
      h3 {
        font-size: 2.5em;
      }
      .cloud-icon {
        font-size: 14em;
      }
      .logos {
        img {
          height: 70px;
        }
      }
    }
  }
}
@media (min-width: @screen-md-min) {
  .clouds {
    .cloud {
      h2 {
        font-size: 2.5em;
      }
      .cloud-icon {
        font-size: 19em;
      }
      .logos {
        img {
          height: 85px;
        }
      }
    }
  }
}
@media (min-width: @screen-lg-min) {
  .clouds {
    .cloud {
      h2 {
        font-size: 3em;
      }
      .cloud-icon {
        font-size: 23em;
      }
    }
  }
}
