.green {
  color: @socrata-green;
}
.yellow {
  color: @socrata-yellow;
}
.red {
  color: @socrata-red;
}
.blue {
  color: @city-blue;
}
.white {
  color: @white;
}

.cta {
  padding-left: 85px;
  height : auto;
  position: relative;
  i {
    font-size: 5em;
    margin-top: 20px;
    position: absolute;
    left: 0;
  }
  p {
    line-height: 1.7;
  }
  .button {
    bottom: 0;
  }
}
@media (min-width: @screen-sm-min) {
  .cta {
    height : 365px;
    padding-left: 60px;
    i {
      font-size: 3em;
    }
    p {
      line-height: 1.5;
    }
    .button {
      position: absolute;
    }
  }
}
@media (min-width: @screen-md-min) {
  .cta {
    height : 320px;
    padding-left: 85px;
    i {
      font-size: 4em;
    }
    p {
      line-height: 1.7;
    }
  }
}
@media (min-width: @screen-lg-min) {
  .cta {
    height : 260px;
  }
}
