.featured-ctas {
  .container {
    border-top: @gray-light 1px solid;
    .cta-slider {
      margin: 0;
    	padding: 20px 15px 0;
    	.slide {
    		padding-left: 85px;
    		height: auto;
    		margin-bottom: 40px;
    	}
    }
  }
  .button {
    font-size: .9em;
  }
  i {
    font-size: 5em;
    margin-top: 20px;
    position: absolute;
    left: 0;
  }
  h3 {
    font-size: 1.6em;
  }
  a {
  	position: relative;
  }
}

@media (min-width: @screen-sm-min) {
  .featured-ctas {
    .container {
      .cta-slider {
        .slide {
        	height: 380px;
        	margin-bottom: 20px;
        }
      }
    }
    a {
      position: absolute;
      bottom: 0;
    }
  }
}
@media (min-width: @screen-md-min) {
	.featured-ctas {
    .container {
      .cta-slider {
        .slide {
        	height: 280px;
        }
      }
    }
  }
}
@media (min-width: @screen-lg-min) {
	.featured-ctas {
    .container {
      .cta-slider {
        .slide {
        	height: 240px;
        }
      }
    }
  }
}
